<div class="title">Trouver son métier</div>
<div class="container">
  <div class="main-content">
    <div class="left-panel">
      <div class="tab-menu">
        <div class="tab-item active">Recherche</div>
        <div class="tab-item">Secteurs d’activité</div>
      </div>
      <div class="list-section">
        <div class="list-item">
          <div class="list-item-close">x</div>
          <div class="list-item-text">Informaticien industriel</div>
        </div>
        <div class="group-item">Autre item 1</div>
        <div class="group-item">Autre item 2</div>
        <div class="group-item">Autre item 3</div>
        <div class="group-item">Autre item 4</div>
        <div class="group-item">Autre item 5</div>
      </div>
    </div>
    <div class="right-panel"></div>
  </div>
</div>
