<div class="title">Trouver son métier</div>
<div class="container">
  <main>
  <div class="sidebar-left">
      <!--  mettre les 2 onglets recherche et secteurs d'activité -->
      filtres etc
  </div>
  <div class="results-section">
    <div class="content">
        <!-- liste résultats de la recherche de métier -->
      <table id="table" class="liste_res_table">
        <thead>

        <tr class="liste_res_head_tr">
          <th class="liste_res_head_tr1">Type de formation</th>
          <th class="liste_res_head_tr2">Moyenne admis<br>&#9650;&#9660;</th>
          <th class="liste_res_head_tr3"><b>Mon taux d'accès</b><br>&#9650;&#9660;</th>
          <th class="liste_res_head_tr4">Chance admission<br>&#9650;&#9660;</th>
        </tr>

        </thead>
        <tbody>

        <tr class="liste_res_tr">
          <td class="liste_res_td1">BUT / Génie électrique et informatique industriel</td>
          <td class="liste_res_td2">14/20</td>
          <td class="liste_res_td3">85%</td>
          <td class="liste_res_td4"><div class="progress-container"><div class="progress-bar dark-green"></div></div></td>   <!-- progress bar -->
        </tr>

        </tbody>
      </table>
    </div>
  </div>
  </main>
</div>
