.main-content {
  width: 1440px;
  height: 833px;
  display: flex;
}

.left-panel {
  width: 509px;
  background: var(--bleu-damotic);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.right-panel {
  width: 931px;
  background: #d9d9d9;
}

.tab-menu {
  display: flex;
  margin-bottom: 20px;
}

.tab-item {
  width: 50%;
  padding: 10px 0;
  text-align: center;
  background: #b9b9b9;
  color: black;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.tab-item.active {
  background: #d9d9d9;
}

.list-section {
  background: white;
  border: 1px solid black;
  padding: 10px;
}
