<div class="title">Trouver sa formation</div>
<div class="container">
  <div class="app-info-eleve"></div>
  <div class="barre-onglet">
    <button
      class="onglet"
      [ngClass]="{ active: activeTab == 0 }"
      (click)="activeTab = 0"
    >
      Par nom
    </button>
    <button
      class="onglet"
      [ngClass]="{ active: activeTab == 1 }"
      (click)="activeTab = 1"
    >
      Par métier
    </button>
  </div>

    <section class="search-section" [ngSwitch]="activeTab">
      <div class="search-form" *ngSwitchCase="0">
        <div class="search-input">
          <span>Nom de formation, d’établissement...</span>
          <div class="input-field"></div>
        </div>
        <div class="search-input">
          <span>Zone géographique</span>
          <div class="input-field"></div>
        </div>
        <div class="search-button">Rechercher</div>
        <div class="content"></div>
      </div>
      <div class="search-form" *ngSwitchCase="1">
        <div class="search-input">
          <span>Nom de formation, d’...</span>
          <div class="input-field"></div>
        </div>
        <div class="search-input">
          <span>Zone géographique</span>
          <div class="input-field"></div>
        </div>
        <div class="search-button">Rechercher</div>
        <div class="content"></div>
    </div>
    </section>
</div>
