<div class="title">Trouver sa formation</div>
<div class="container">
  <div class="app-info-eleve"></div>
  <div [ngSwitch]="activeTab">
  <div class="search-section" *ngSwitchCase="0">
    <div class="recherche-item">
      <div class="margin-bottom">Nom de formation, d’établissement...</div>
      <div class="displayerow">
            <input type="text" value="IUT saint dié"  />
      </div>
    </div>
    <div class="recherche-item">
      <div class="margin-bottom">Zone géographique</div>
      <div class="displayerow">
        <div>
            <input type="text" value=""  />
        </div>
        <button class="search-button">Valider</button>
      </div>
    </div>
  </div>
  <div class="search-section"*ngSwitchCase="1">
    <div class="recherche-item">
      <div class="margin-bottom">Nom de métier</div>
      <div class="displayerow">
        <input type="text" value="Informaticien industriel"  />
      </div>
    </div>
    <div class="recherche-item">
      <div class="margin-bottom">Secteurs d'activité</div>
      <div class="displayerow">
        <div>
          <input type="text" value="Electronique"  />
        </div>
        <button class="search-button">Valider</button>
      </div>
    </div>
  </div>
</div>
  <div class="barre-onglet">
    <button
      class="onglet"
      [ngClass]="{ active: activeTab == 0 }"
      (click)="activeTab = 0"
    >
      Par nom
    </button>
    <button
      class="onglet"
      [ngClass]="{ active: activeTab == 1 }"
      (click)="activeTab = 1"
      (click)="activeTab = 1"
    >
      Par métier
    </button>
  </div>

  <section class="search-section" [ngSwitch]="activeTab">
    <div class="search-form" *ngSwitchCase="0">
      <div class="sidebar-left">
        <div id="levelListeCheckbox">
          <ul>
            <li>
              <input type="checkbox" id="level1" class="toggle" />
              <label for="level1">
                <span class="niveau_1"
                  ><b>Filtrer les établissements par nom</b></span
                >
              </label>
              <ul class="nested">
                <li>
                  <input type="checkbox" id="level1.1" class="toggle" />
                  <label for="level1.1">
                    <span class="niveau_2">Type d'établissement</span>
                  </label>
                  <ul class="nested">
                    <li class="leaf">
                      <input type="checkbox" id="item1" />
                      <label for="item1">
                        <span class="feuille">Établissement public</span>
                      </label>
                    </li>
                    <li class="leaf">
                      <input type="checkbox" id="item2" />
                      <label for="item2">
                        <span class="feuille">Établissement privé</span>
                      </label>
                    </li>
                    <li class="leaf">
                      <input type="checkbox" id="item3" />
                      <label for="item3">
                        <span class="feuille">Privé sous contrat</span>
                      </label>
                    </li>
                  </ul>
                </li>
                <li>
                  <input type="checkbox" id="level1.2" class="toggle" />
                  <label for="level1.2">
                    <span class="niveau_2">Type de formation</span>
                  </label>
                  <ul class="nested">
                    <li class="leaf">
                      <input type="checkbox" id="item4" />
                      <label for="item4">
                        <span class="feuille">BUT</span>
                      </label>
                    </li>
                    <li class="leaf">
                      <input type="checkbox" id="item5" />
                      <label for="item5">
                        <span class="feuille">License</span>
                      </label>
                    </li>
                    <li class="leaf">
                      <input type="checkbox" id="item6" />
                      <label for="item6">
                        <span class="feuille">BTS</span>
                      </label>
                    </li>
                    <li class="leaf">
                      <input type="checkbox" id="item7" />
                      <label for="item7">
                        <span class="feuille">DUT</span>
                      </label>
                    </li>
                    <li class="leaf">
                      <input type="checkbox" id="item8" />
                      <label for="item8">
                        <span class="feuille">CPGE</span>
                      </label>
                    </li>
                    <li class="leaf">
                      <input type="checkbox" id="item9" />
                      <label for="item9">
                        <span class="feuille">Classe préparatoire</span>
                      </label>
                    </li>
                  </ul>
                </li>
                <li>
                  <input type="checkbox" id="level1.3" class="toggle" />
                  <label for="level1.3">
                    <span class="niveau_2">Apprentissage</span>
                  </label>
                  <ul class="nested">
                    <li class="leaf">
                      <input type="checkbox" id="item10" />
                      <label for="item10">
                        <span class="feuille">Oui</span>
                      </label>
                    </li>
                    <li class="leaf">
                      <input type="checkbox" id="item11" />
                      <label for="item11">
                        <span class="feuille">Non</span>
                      </label>
                    </li>
                  </ul>
                </li>
                <li>
                  <input type="checkbox" id="level1.4" class="toggle" />
                  <label for="level1.4">
                    <span class="niveau_2">Type de BAC</span>
                  </label>
                  <ul class="nested">
                    <li class="leaf">
                      <input type="checkbox" id="item12" />
                      <label for="item12">
                        <span class="feuille">Scientifique</span>
                      </label>
                    </li>
                    <li class="leaf">
                      <input type="checkbox" id="item13" />
                      <label for="item13">
                        <span class="feuille">Littéraire</span>
                      </label>
                    </li>
                    <li class="leaf">
                      <input type="checkbox" id="item14" />
                      <label for="item14">
                        <span class="feuille">Économique et social</span>
                      </label>
                    </li>
                  </ul>
                </li>
                <li>
                  <input type="checkbox" id="level1.5" class="toggle" />
                  <label for="level1.5">
                    <span class="niveau_2">Autres</span>
                  </label>
                  <ul class="nested">
                    <li class="leaf">
                      <input type="checkbox" id="item15" />
                      <label for="item15">
                        <span class="feuille"
                          >Épreuves de sélection particulières</span
                        >
                      </label>
                    </li>
                    <li class="leaf">
                      <input type="checkbox" id="item16" />
                      <label for="item16">
                        <span class="feuille"
                          >Aménagement pour personne handicapé</span
                        >
                      </label>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="results-section">
        <div class="content">
          <table id="table" class="liste_res_table">
            <thead>

            <tr class="liste_res_head_tr">
              <th class="liste_res_head_tr1"></th>
              <th class="liste_res_head_tr2">Nom</th>
              <th class="liste_res_head_tr3">Mentions/Spécialités</th>
              <th class="liste_res_head_tr4">Moyenne admis<br>&#9650;&#9660;</th>
              <th class="liste_res_head_tr5"><b>Mon taux d'accès</b><br>&#9650;&#9660;</th>
              <th class="liste_res_head_tr6">Chance admission<br>&#9650;&#9660;</th>
            </tr>

            </thead>
            <tbody>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université de Montpellier, Antenne de Mende (48)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Pluridisciplinarité et métiers de l’enseignement, de l’éducation et de la formation</td>
              <td class="liste_res_td4">12/20</td>
              <td class="liste_res_td5">85%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar dark-green"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université de Montpellier, Antenne de Perpignan (66)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Pluridisciplinarité et métiers de l’enseignement, de l’éducation et de la formation</td>
              <td class="liste_res_td4">13/20</td>
              <td class="liste_res_td5">82%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar dark-green"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">INSSET de Saint-Quentin (02)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Licence Sciences et Technologies (Portail Sciences)</td>
              <td class="liste_res_td4">13,5/20</td>
              <td class="liste_res_td5">79%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar light-green"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université Côte d'Azur / lycée du Parc Impérial Nice (06)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Préparatoire au Professorat des Ecoles (PPPE)</td>
              <td class="liste_res_td4">14/20</td>
              <td class="liste_res_td5">68%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar light-green"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université de Versailles - Saint Quentin en Yvelines / lycée Jules Ferry Versailles (78)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Préparatoire au Professorat des Ecoles (PPPE)</td>
              <td class="liste_res_td4">14,5/20</td>
              <td class="liste_res_td5">65%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar light-green"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université de Corte (20)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies</td>
              <td class="liste_res_td4">14,8/20</td>
              <td class="liste_res_td5">63%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar light-green"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université de Montpellier, Antenne de Nîmes (30)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Pluridisciplinarité et métiers de l’enseignement, de l’éducation et de la formation</td>
              <td class="liste_res_td4">15/20</td>
              <td class="liste_res_td5">52%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar yellow"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université de Limoges / Lycée Turgot Limoges (87)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Préparatoire au Professorat des Ecoles (PPPE)</td>
              <td class="liste_res_td4">15,7/20</td>
              <td class="liste_res_td5">48%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar yellow"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université de Versailles - Saint Quentin en Yvelines / lycée Jules Ferry Versailles (78)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Préparatoire au Professorat des Ecoles (PPPE)</td>
              <td class="liste_res_td4">16,2/20</td>
              <td class="liste_res_td5">42%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar yellow"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université Côte d'Azur / lycée du Parc Impérial Nice (06)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Préparatoire au Professorat des Ecoles (PPPE)</td>
              <td class="liste_res_td4">16,8/20</td>
              <td class="liste_res_td5">38%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar orange"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université de Montpellier (34)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Pluridisciplinarité et métiers de l’enseignement, de l’éducation et de la formation</td>
              <td class="liste_res_td4">17/20</td>
              <td class="liste_res_td5">33%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar orange"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université de Limoges / Lycée Turgot Limoges (87)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Préparatoire au Professorat des Ecoles (PPPE)</td>
              <td class="liste_res_td4">17,2/20</td>
              <td class="liste_res_td5">30%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar orange"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université de Mayotte (Dembeni - 976)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Préparatoire au Professorat des Ecoles (PPPE)</td>
              <td class="liste_res_td4">17,7/20</td>
              <td class="liste_res_td5">27%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar orange"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université de Montpellier / lycée Jean Monnet Montpellier (34)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Préparatoire au Professorat des Ecoles (PPPE)</td>
              <td class="liste_res_td4">17,8/20</td>
              <td class="liste_res_td5">26%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar orange"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université de Reims Champagne-Ardenne (51)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies</td>
              <td class="liste_res_td4">18/20</td>
              <td class="liste_res_td5">22%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar orange"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université de Montpellier / lycée Jean Monnet Montpellier (34)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Préparatoire au Professorat des Ecoles (PPPE)</td>
              <td class="liste_res_td4">18,2/20</td>
              <td class="liste_res_td5">19%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar red"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Facultés libres de l'ouest - UCO - Bretagne Nord (Guingamp - 22)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies</td>
              <td class="liste_res_td4">18,4/20</td>
              <td class="liste_res_td5">16%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar red"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">INSSET de Saint-Quentin (02)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Licence Sciences et Technologies (Portail Sciences)</td>
              <td class="liste_res_td4">18,5/20</td>
              <td class="liste_res_td5">12%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar red"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université de Montpellier / lycée Jean Monnet Montpellier (34)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Préparatoire au Professorat des Ecoles (PPPE)</td>
              <td class="liste_res_td4">18,6/20</td>
              <td class="liste_res_td5">9%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar red"></div></div></td>   <!-- progress bar -->
            </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class="sidebar-right">
        <img class="map-formation" src="/assets/images/screen-map-ps.png" alt="capture d'écran recherche établissement Parsoursup">
      </div>
    </div>
    <div class="search-form" *ngSwitchCase="1">
      <div class="sidebar-left">
        <div id="levelListeCheckbox">
          <ul>
            <li>
              <input type="checkbox" id="level1" class="toggle" />
              <label for="level1">
                <span class="niveau_1"
                  ><b>Filtrer les établissements par métier</b></span
                >
              </label>
              <ul class="nested">
                <li>
                  <input type="checkbox" id="level1.1" class="toggle" />
                  <label for="level1.1">
                    <span class="niveau_2">Type d'établissement</span>
                  </label>
                  <ul class="nested">
                    <li class="leaf">
                      <input type="checkbox" id="item1" />
                      <label for="item1">
                        <span class="feuille">Établissement public</span>
                      </label>
                    </li>
                    <li class="leaf">
                      <input type="checkbox" id="item2" />
                      <label for="item2">
                        <span class="feuille">Établissement privé</span>
                      </label>
                    </li>
                    <li class="leaf">
                      <input type="checkbox" id="item3" />
                      <label for="item3">
                        <span class="feuille">Privé sous contrat</span>
                      </label>
                    </li>
                  </ul>
                </li>
                <li>
                  <input type="checkbox" id="level1.2" class="toggle" />
                  <label for="level1.2">
                    <span class="niveau_2">Type de formation</span>
                  </label>
                  <ul class="nested">
                    <li class="leaf">
                      <input type="checkbox" id="item4" />
                      <label for="item4">
                        <span class="feuille">BUT</span>
                      </label>
                    </li>
                    <li class="leaf">
                      <input type="checkbox" id="item5" />
                      <label for="item5">
                        <span class="feuille">License</span>
                      </label>
                    </li>
                    <li class="leaf">
                      <input type="checkbox" id="item6" />
                      <label for="item6">
                        <span class="feuille">BTS</span>
                      </label>
                    </li>
                    <li class="leaf">
                      <input type="checkbox" id="item7" />
                      <label for="item7">
                        <span class="feuille">DUT</span>
                      </label>
                    </li>
                    <li class="leaf">
                      <input type="checkbox" id="item8" />
                      <label for="item8">
                        <span class="feuille">CPGE</span>
                      </label>
                    </li>
                    <li class="leaf">
                      <input type="checkbox" id="item9" />
                      <label for="item9">
                        <span class="feuille">Classe préparatoire</span>
                      </label>
                    </li>
                  </ul>
                </li>
                <li>
                  <input type="checkbox" id="level1.3" class="toggle" />
                  <label for="level1.3">
                    <span class="niveau_2">Apprentissage</span>
                  </label>
                  <ul class="nested">
                    <li class="leaf">
                      <input type="checkbox" id="item10" />
                      <label for="item10">
                        <span class="feuille">Oui</span>
                      </label>
                    </li>
                    <li class="leaf">
                      <input type="checkbox" id="item11" />
                      <label for="item11">
                        <span class="feuille">Non</span>
                      </label>
                    </li>
                  </ul>
                </li>
                <li>
                  <input type="checkbox" id="level1.4" class="toggle" />
                  <label for="level1.4">
                    <span class="niveau_2">Type de BAC</span>
                  </label>
                  <ul class="nested">
                    <li class="leaf">
                      <input type="checkbox" id="item12" />
                      <label for="item12">
                        <span class="feuille">Scientifique</span>
                      </label>
                    </li>
                    <li class="leaf">
                      <input type="checkbox" id="item13" />
                      <label for="item13">
                        <span class="feuille">Littéraire</span>
                      </label>
                    </li>
                    <li class="leaf">
                      <input type="checkbox" id="item14" />
                      <label for="item14">
                        <span class="feuille">Économique et social</span>
                      </label>
                    </li>
                  </ul>
                </li>
                <li>
                  <input type="checkbox" id="level1.5" class="toggle" />
                  <label for="level1.5">
                    <span class="niveau_2">Autres</span>
                  </label>
                  <ul class="nested">
                    <li class="leaf">
                      <input type="checkbox" id="item15" />
                      <label for="item15">
                        <span class="feuille"
                          >Épreuves de sélection particulières</span
                        >
                      </label>
                    </li>
                    <li class="leaf">
                      <input type="checkbox" id="item16" />
                      <label for="item16">
                        <span class="feuille"
                          >Aménagement pour personne handicapé</span
                        >
                      </label>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="results-section">
        <div class="content">
          <table id="table" class="liste_res_table">
            <thead>

            <tr class="liste_res_head_tr">
              <th class="liste_res_head_tr1"></th>
              <th class="liste_res_head_tr2">Nom</th>
              <th class="liste_res_head_tr3">Mentions/Spécialités</th>
              <th class="liste_res_head_tr4">Moyenne admis<br>&#9650;&#9660;</th>
              <th class="liste_res_head_tr5"><b>Mon taux d'accès</b><br>&#9650;&#9660;</th>
              <th class="liste_res_head_tr6">Chance admission<br>&#9650;&#9660;</th>
            </tr>

            </thead>
            <tbody>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université de Montpellier, Antenne de Mende (48)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Pluridisciplinarité et métiers de l’enseignement, de l’éducation et de la formation</td>
              <td class="liste_res_td4">12/20</td>
              <td class="liste_res_td5">85%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar dark-green"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université de Montpellier, Antenne de Perpignan (66)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Pluridisciplinarité et métiers de l’enseignement, de l’éducation et de la formation</td>
              <td class="liste_res_td4">13/20</td>
              <td class="liste_res_td5">82%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar dark-green"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">INSSET de Saint-Quentin (02)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Licence Sciences et Technologies (Portail Sciences)</td>
              <td class="liste_res_td4">13,5/20</td>
              <td class="liste_res_td5">79%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar light-green"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université Côte d'Azur / lycée du Parc Impérial Nice (06)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Préparatoire au Professorat des Ecoles (PPPE)</td>
              <td class="liste_res_td4">14/20</td>
              <td class="liste_res_td5">68%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar light-green"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université de Versailles - Saint Quentin en Yvelines / lycée Jules Ferry Versailles (78)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Préparatoire au Professorat des Ecoles (PPPE)</td>
              <td class="liste_res_td4">14,5/20</td>
              <td class="liste_res_td5">65%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar light-green"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université de Corte (20)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies</td>
              <td class="liste_res_td4">14,8/20</td>
              <td class="liste_res_td5">63%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar light-green"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université de Montpellier, Antenne de Nîmes (30)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Pluridisciplinarité et métiers de l’enseignement, de l’éducation et de la formation</td>
              <td class="liste_res_td4">15/20</td>
              <td class="liste_res_td5">52%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar yellow"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université de Limoges / Lycée Turgot Limoges (87)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Préparatoire au Professorat des Ecoles (PPPE)</td>
              <td class="liste_res_td4">15,7/20</td>
              <td class="liste_res_td5">48%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar yellow"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université de Versailles - Saint Quentin en Yvelines / lycée Jules Ferry Versailles (78)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Préparatoire au Professorat des Ecoles (PPPE)</td>
              <td class="liste_res_td4">16,2/20</td>
              <td class="liste_res_td5">42%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar yellow"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université Côte d'Azur / lycée du Parc Impérial Nice (06)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Préparatoire au Professorat des Ecoles (PPPE)</td>
              <td class="liste_res_td4">16,8/20</td>
              <td class="liste_res_td5">38%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar orange"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université de Montpellier (34)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Pluridisciplinarité et métiers de l’enseignement, de l’éducation et de la formation</td>
              <td class="liste_res_td4">17/20</td>
              <td class="liste_res_td5">33%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar orange"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université de Limoges / Lycée Turgot Limoges (87)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Préparatoire au Professorat des Ecoles (PPPE)</td>
              <td class="liste_res_td4">17,2/20</td>
              <td class="liste_res_td5">30%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar orange"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université de Mayotte (Dembeni - 976)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Préparatoire au Professorat des Ecoles (PPPE)</td>
              <td class="liste_res_td4">17,7/20</td>
              <td class="liste_res_td5">27%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar orange"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université de Montpellier / lycée Jean Monnet Montpellier (34)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Préparatoire au Professorat des Ecoles (PPPE)</td>
              <td class="liste_res_td4">17,8/20</td>
              <td class="liste_res_td5">26%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar orange"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université de Reims Champagne-Ardenne (51)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies</td>
              <td class="liste_res_td4">18/20</td>
              <td class="liste_res_td5">22%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar orange"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université de Montpellier / lycée Jean Monnet Montpellier (34)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Préparatoire au Professorat des Ecoles (PPPE)</td>
              <td class="liste_res_td4">18,2/20</td>
              <td class="liste_res_td5">19%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar red"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Facultés libres de l'ouest - UCO - Bretagne Nord (Guingamp - 22)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies</td>
              <td class="liste_res_td4">18,4/20</td>
              <td class="liste_res_td5">16%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar red"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">INSSET de Saint-Quentin (02)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Licence Sciences et Technologies (Portail Sciences)</td>
              <td class="liste_res_td4">18,5/20</td>
              <td class="liste_res_td5">12%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar red"></div></div></td>   <!-- progress bar -->
            </tr>

            <tr class="liste_res_tr">
              <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
              <td class="liste_res_td2">Université de Montpellier / lycée Jean Monnet Montpellier (34)</td>
              <td class="liste_res_td3">Licence - Sciences et technologies - Parcours Préparatoire au Professorat des Ecoles (PPPE)</td>
              <td class="liste_res_td4">18,6/20</td>
              <td class="liste_res_td5">9%</td>
              <td class="liste_res_td6"><div class="progress-container"><div class="progress-bar red"></div></div></td>   <!-- progress bar -->
            </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class="sidebar-right">
        <img class="map-formation" src="/assets/images/screen-map-ps.png" alt="capture d'écran recherche établissement Parsoursup">
      </div>
    </div>
  </section>
</div>

