<p>trouver-sa-formation works!</p>
<div class="title">
  <div><h1>Touver sa Formation</h1></div>
</div>

<div class="filter">
  <form>
    <div>
    <label>Quelle moyenne penses-tu obtenir au bac ?<input type="text"></label>
    <label>Quel est ton bac?<input type="text"></label>
    <label>Spécialité 1<input type="text"></label>
    <label>Spécialité 2<input type="text"></label>
    </div>
    <div>
    <label>Quelle est ton académie ?<input type="text"></label>
    <label>Es-tu boursier du secondaire ?<input type="text"></label>
    <button>Sauvegarder dans mon profil</button>
    </div>
  </form>
</div>
<div>
  <h2>Rechercher une formation</h2>
  <div><div>
    <div>Par nom</div>
    <div>Par métier</div>
  </div>
  </div>

</div>

<div style="width: 100%; height: 100%; position: relative; background: white">
  <div
    style="
      width: 1015px;
      height: 179px;
      left: 213px;
      top: 170px;
      position: absolute;
    "
  >
    <div
      style="
        width: 1015px;
        height: 179px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #132f49;
      "
    ></div>
    <div
      style="
        width: 502px;
        height: 33.3px;
        left: 27px;
        top: 94px;
        position: absolute;
      "
    >
      <div
        style="
          width: 193.52px;
          height: 33.3px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Spécialité 1
      </div>
      <div
        style="
          width: 295.25px;
          height: 23.37px;
          left: 206.75px;
          top: 5.26px;
          position: absolute;
          background: white;
          border: 1px black solid;
        "
      ></div>
      <div
        style="
          width: 155px;
          height: 12px;
          left: 213px;
          top: 11px;
          position: absolute;
          color: black;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Non renseigné
      </div>

    </div>
    <div
      style="
        width: 502px;
        height: 33.3px;
        left: 27px;
        top: 131px;
        position: absolute;
      "
    >
      <div
        style="
          width: 193.52px;
          height: 33.3px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Spécialité 2
      </div>
      <div
        style="
          width: 295.25px;
          height: 23.37px;
          left: 206.75px;
          top: 5.26px;
          position: absolute;
          background: white;
          border: 1px black solid;
        "
      ></div>
      <div
        style="
          width: 156px;
          height: 12px;
          left: 212px;
          top: 11px;
          position: absolute;
          color: black;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Non renseigné
      </div>

    </div>
    <div
      style="
        width: 523px;
        height: 35.2px;
        left: 6px;
        top: 57px;
        position: absolute;
      "
    >
      <div
        style="
          width: 212.41px;
          height: 35.2px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Quel est ton bac ?
      </div>
      <div
        style="
          width: 296px;
          height: 24px;
          left: 227px;
          top: 6px;
          position: absolute;
          background: white;
          border: 1px black solid;
        "
      ></div>
      <div
        style="
          width: 287px;
          height: 22px;
          left: 231px;
          top: 7px;
          position: absolute;
          color: black;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Seconde Générale et technologique
      </div>

    </div>
    <div
      style="
        width: 367px;
        height: 35.2px;
        left: 632px;
        top: 26px;
        position: absolute;
      "
    >
      <div
        style="
          width: 212.41px;
          height: 35.2px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Quelle est ton académie ?
      </div>
      <div
        style="
          width: 157px;
          height: 24px;
          left: 210px;
          top: 6px;
          position: absolute;
          background: white;
          border: 1px black solid;
        "
      ></div>
      <div
        style="
          width: 136px;
          height: 22px;
          left: 216px;
          top: 7px;
          position: absolute;
          color: black;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Nancy-Metz
      </div>

    </div>
    <div
      style="
        width: 310px;
        height: 35.2px;
        left: 617px;
        top: 74px;
        position: absolute;
      "
    >
      <div
        style="
          width: 212.41px;
          height: 35.2px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Es-tu boursier du secondaire ?
      </div>
      <div
        style="
          width: 85px;
          height: 24px;
          left: 225px;
          top: 6px;
          position: absolute;
          background: white;
          border: 1px black solid;
        "
      ></div>
      <div
        style="
          width: 49px;
          height: 22px;
          left: 227px;
          top: 7px;
          position: absolute;
          text-align: center;
          color: black;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Oui
      </div>

    </div>
    <div
      style="
        width: 507px;
        height: 35.2px;
        left: 6px;
        top: 15px;
        position: absolute;
      "
    >
      <div
        style="
          width: 212.41px;
          height: 35.2px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Quelle moyenne penses-tu obtenir au bac ?
      </div>
      <div
        style="
          width: 85px;
          height: 24px;
          left: 227px;
          top: 6px;
          position: absolute;
          background: white;
          border: 1px black solid;
        "
      ></div>
      <div
        style="
          width: 274px;
          height: 24px;
          left: 233px;
          top: 6px;
          position: absolute;
          color: black;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        14/20
      </div>

    </div>
  </div>

  <div
    style="
      width: 991px;
      height: 205px;
      left: 225px;
      top: 412px;
      position: absolute;
    "
  >
    <div
      style="
        width: 991px;
        height: 205px;
        left: 0px;
        top: 0px;
        position: absolute;
      "
    >
      <div
        style="
          width: 991px;
          height: 158px;
          left: 0px;
          top: 47px;
          position: absolute;
          background: #132f49;
        "
      ></div>
      <div
        style="
          width: 612px;
          height: 47.11px;
          left: 188px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: black;
          font-size: 20px;
          font-family: Inter;
          font-weight: 700;
          word-wrap: break-word;
        "
      >
        Rechercher une formation
      </div>
      <div
        style="
          width: 295px;
          height: 47.29px;
          left: 20px;
          top: 118px;
          position: absolute;
        "
      >
        <div
          style="
            width: 289px;
            height: 24px;
            left: 0px;
            top: 0px;
            position: absolute;
          "
        >
          <span
            style="
              color: white;
              font-size: 14px;
              font-family: Inter;
              font-weight: 400;
              word-wrap: break-word;
            "
            >Nom de </span
          ><span
            style="
              color: white;
              font-size: 14px;
              font-family: Inter;
              font-weight: 700;
              word-wrap: break-word;
            "
            >formation</span
          ><span
            style="
              color: white;
              font-size: 14px;
              font-family: Inter;
              font-weight: 400;
              word-wrap: break-word;
            "
            >, d’</span
          ><span
            style="
              color: white;
              font-size: 14px;
              font-family: Inter;
              font-weight: 700;
              word-wrap: break-word;
            "
            >établissement</span
          ><span
            style="
              color: white;
              font-size: 14px;
              font-family: Inter;
              font-weight: 400;
              word-wrap: break-word;
            "
            >...</span
          >
        </div>
        <div
          style="
            width: 295px;
            height: 23px;
            left: 0px;
            top: 24.29px;
            position: absolute;
            background: white;
          "
        ></div>
      </div>
      <div
        style="
          width: 334px;
          height: 47.58px;
          left: 410px;
          top: 118px;
          position: absolute;
        "
      >
        <div
          style="
            width: 183px;
            height: 24.58px;
            left: 0px;
            top: 0px;
            position: absolute;
            color: white;
            font-size: 14px;
            font-family: Inter;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Zone géographique
        </div>
        <div
          style="
            width: 334px;
            height: 23px;
            left: 0px;
            top: 24.58px;
            position: absolute;
            background: white;
          "
        ></div>
      </div>
      <div
        style="
          width: 114px;
          height: 39.62px;
          left: 867px;
          top: 154px;
          position: absolute;
        "
      >
        <div
          style="
            width: 114px;
            height: 39.62px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #dc2242;
          "
        ></div>
        <div
          style="
            width: 107.75px;
            height: 26.16px;
            left: 3.12px;
            top: 6.32px;
            position: absolute;
            text-align: center;
            color: white;
            font-size: 14px;
            font-family: Inter;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Rechercher
        </div>
      </div>
      <div
        style="
          width: 178px;
          height: 23px;
          left: 28px;
          top: 144px;
          position: absolute;
          color: black;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        I.U.T de Saint Dié
      </div>
    </div>
    <div
      style="
        width: 991px;
        height: 40px;
        left: 0px;
        top: 47px;
        position: absolute;
      "
    >
      <div
        style="
          width: 495px;
          height: 40px;
          left: 0px;
          top: 0px;
          position: absolute;
        "
      >
        <div
          style="
            width: 495px;
            height: 40px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #b9b9b9;
          "
        ></div>
        <div
          style="
            left: 183px;
            top: 6px;
            position: absolute;
            text-align: center;
            color: black;
            font-size: 20px;
            font-family: Inter;
            font-weight: 700;
            word-wrap: break-word;
          "
        >
          Par nom
        </div>
      </div>
      <div
        style="
          width: 495px;
          height: 40px;
          left: 496px;
          top: 0px;
          position: absolute;
        "
      >
        <div
          style="
            width: 495px;
            height: 40px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #d9d9d9;
          "
        ></div>
        <div
          style="
            left: 211px;
            top: 6px;
            position: absolute;
            text-align: center;
            color: black;
            font-size: 20px;
            font-family: Inter;
            font-weight: 700;
            word-wrap: break-word;
          "
        >
          Par métier
        </div>
      </div>
    </div>
  </div>
  <div
    style="
      width: 128px;
      height: 46px;
      left: 1087px;
      top: 295px;
      position: absolute;
    "
  >
    <div
      style="
        width: 128px;
        height: 46px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #dc2242;
      "
    ></div>
    <div
      style="
        width: 128px;
        height: 46px;
        left: 0px;
        top: 0px;
        position: absolute;
        text-align: center;
        color: white;
        font-size: 16px;
        font-family: Inter;
        font-weight: 600;
        word-wrap: break-word;
      "
    >
      Sauvegarder dans mon profil
    </div>
  </div>
  <div
    style="
      width: 300px;
      height: 50px;
      left: 570px;
      top: 100px;
      position: absolute;
    "
  >
    <div
      style="
        width: 300px;
        height: 50px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #132f49;
      "
    ></div>
    <div
      style="
        width: 300px;
        height: 50px;
        left: 0px;
        top: 0px;
        position: absolute;
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Inter;
        font-weight: 700;
        word-wrap: break-word;
      "
    >
      Trouver sa formation
    </div>
  </div>
</div>
