<p>contact-etablissement works!</p>
<div style="width: 100%; height: 100%; position: relative; background: white">
  <div
    style="
      width: 400px;
      height: 152px;
      left: 505px;
      top: 611px;
      position: absolute;
      background: #d9d9d9;
    "
  ></div>
  <img
    style="
      width: 1137px;
      height: 769px;
      left: 151px;
      top: 480px;
      position: absolute;
    "
    src="https://via.placeholder.com/1137x769"
  />
  <div
    style="
      width: 949px;
      height: 97px;
      padding-top: 10.63px;
      padding-bottom: 9.24px;
      padding-right: 1.15px;
      left: 245px;
      top: 357px;
      position: absolute;
      justify-content: center;
      align-items: flex-start;
      gap: 19.58px;
      display: inline-flex;
    "
  >
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div
        style="
          width: 118.62px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 118.62px;
          height: 75.5px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Encadré de présentation
      </div>
    </div>
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div
        style="
          width: 118.62px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 118.47px;
          height: 76.55px;
          left: 0.03px;
          top: 0.44px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Infos sur l’établissement
      </div>
    </div>
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div
        style="
          width: 118.42px;
          height: 76.55px;
          left: 0.21px;
          top: 0px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 118.62px;
          height: 76.55px;
          left: 0px;
          top: 0.44px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Comprendre les critères d'analyse des candidatures
      </div>
    </div>
    <div style="width: 118.63px; height: 76.99px; position: relative">
      <div
        style="
          width: 117.98px;
          height: 76.84px;
          left: 0.44px;
          top: 0.15px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 118.63px;
          height: 75.6px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Consulter les modalités de candidature
      </div>
    </div>
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div
        style="
          width: 118.15px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 118px;
          height: 75.04px;
          left: 0.63px;
          top: 0.44px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Accéder aux chiffres clés de la formation
      </div>
    </div>
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div
        style="
          width: 118.39px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 118.23px;
          height: 76.55px;
          left: 0.39px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Connaître les débouchés
      </div>
    </div>
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div
        style="
          width: 118.62px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #80101e;
        "
      ></div>
      <div
        style="
          width: 118.47px;
          height: 76.55px;
          left: 0.15px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Contacter et échanger avec l'établissement
      </div>
    </div>
  </div>
  <img
    style="
      width: 585px;
      height: 174px;
      left: 427px;
      top: 170px;
      position: absolute;
    "
    src="https://via.placeholder.com/585x174"
  />
  <div
    style="
      width: 300px;
      height: 50px;
      left: 570px;
      top: 100px;
      position: absolute;
    "
  >
    <div
      style="
        width: 300px;
        height: 50px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #132f49;
      "
    ></div>
    <div
      style="
        width: 300px;
        height: 50px;
        left: 0px;
        top: 0px;
        position: absolute;
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Inter;
        font-weight: 700;
        word-wrap: break-word;
      "
    >
      Formation
    </div>
  </div>
</div>
