
<div class="container">
   <h1 class="header">Le simulateur de parcours</h1>

  <div class="app-info-eleve" ></div>

  <section class="result-section">
    <div class="result-header">
      <div>Voie</div>
      <div>Spécialités</div>
      <div>Type de formation</div>
      <div>Mon taux d’accès (%)</div>
      <div>Moyenne des admis</div>
    </div>

    <div class="result-row">
      <div>Générale</div>
      <div>NSI/Mathématiques</div>
      <div>BUT - génie électrique et informatique industrielle</div>
      <div>86%</div>
      <div>12,5</div>
    </div>

    <!-- Ajoutez d'autres result-row similaires ici -->

  </section>
</div>
