body {
  font-family: "Inter", sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.header {
  width: 300px;
  height: 50px;
  background: var(--bleu-damotic);
  color: white;
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.form-section {
  margin-top: 20px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-group label {
  color: white;
  background-color: var(--bleu-damotic);
  padding: 10px;
  flex: 1;
  text-align: center;
}

.input-group {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  flex: 2;
  justify-content: space-between;
}

.input-value {
  color: black;
}

.save-button {
  background-color: var(--rouge-damotic);
  color: white;
  padding: 15px;
  text-align: center;
  display: block;
  margin: 20px auto;
  width: 300px;
  cursor: pointer;
  font-size: 16px;
}

.result-section {
  margin-top: 40px;
}

.result-header,
.result-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 10px;
}

.result-header {
  background-color: #d9d9d9;
  font-weight: bold;
}

.result-row {
  background-color: #efefef;
  border: 1px solid black;
}

.result-row div {
  text-align: center;
}
