<div class="title">Le simulateur de parcours</div>
<div class="container">
  <div class="app-info-eleve"></div>
  <div class="search-section">
    <div>
      <div>
        <div>Le métier qui m’intéresse :</div>
      </div>

      <div class="displayerow">
        <div>Rechercher :</div>
        <div>
          <div>
            <input type="text" value="Informaticien indus"  />
          </div>
        </div>
        <div class="search-button">Valider</div>
      </div>
    </div>
  </div>
  <section class="result-section">
    <table id="table" class="liste_res_table">
      <thead>

      <tr class="liste_res_head_tr">
        <th class="liste_res_head_tr1"></th>
        <th class="liste_res_head_tr2">Nom formation</th>
        <th class="liste_res_head_tr3">Moyenne admis<br>&#9650;&#9660;</th>
        <th class="liste_res_head_tr4"><b>Mon taux d'accès</b><br>&#9650;&#9660;</th>
        <th class="liste_res_head_tr5">Chance admission<br>&#9650;&#9660;</th>
      </tr>

      </thead>
      <tbody>

      <tr class="liste_res_tr">
        <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
        <td class="liste_res_td2">I.U.T de Saint Dié - Université de Lorraine</td>
        <td class="liste_res_td3">11.8</td>
        <td class="liste_res_td4">97</td>
        <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar dark-green"></div></div></td>   <!-- progress bar -->
      </tr>

      <tr class="liste_res_tr">
        <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
        <td class="liste_res_td2">I.U.T de Tarbes</td>
        <td class="liste_res_td3">12.2</td>
        <td class="liste_res_td4">96</td>
        <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar dark-green"></div></div></td>   <!-- progress bar -->
      </tr>

      <tr class="liste_res_tr">
        <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
        <td class="liste_res_td2">I.U.T H. Poincaré de Longwy - Université de Lorraine</td>
        <td class="liste_res_td3">11.4</td>
        <td class="liste_res_td4">95</td>
        <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar dark-green"></div></div></td>   <!-- progress bar -->
      </tr>

      <tr class="liste_res_tr">
        <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
        <td class="liste_res_td2">I.U.T Nord Franche-Comté - Site de Belfort</td>
        <td class="liste_res_td3">11.7</td>
        <td class="liste_res_td4">93</td>
        <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar dark-green"></div></div></td>   <!-- progress bar -->
      </tr>

      <tr class="liste_res_tr">
        <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
        <td class="liste_res_td2">I.U.T du Limousin - site de Brive</td>
        <td class="liste_res_td3">12.5</td>
        <td class="liste_res_td4">92</td>
        <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar dark-green"></div></div></td>   <!-- progress bar -->
      </tr>

      <tr class="liste_res_tr">
        <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
        <td class="liste_res_td2">I.U.T Poitiers</td>
        <td class="liste_res_td3">12.3</td>
        <td class="liste_res_td4">92</td>
        <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar dark-green"></div></div></td>   <!-- progress bar -->
      </tr>

      <tr class="liste_res_tr">
        <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
        <td class="liste_res_td2">I.U.T Annecy</td>
        <td class="liste_res_td3">12.3</td>
        <td class="liste_res_td4">91</td>
        <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar dark-green"></div></div></td>   <!-- progress bar -->
      </tr>

      <tr class="liste_res_tr">
        <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
        <td class="liste_res_td2">I.U.T de l'Indre</td>
        <td class="liste_res_td3">11.6</td>
        <td class="liste_res_td4">89</td>
        <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar dark-green"></div></div></td>   <!-- progress bar -->
      </tr>

      <tr class="liste_res_tr">
        <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
        <td class="liste_res_td2">I.U.T Nantes</td>
        <td class="liste_res_td3">12.7</td>
        <td class="liste_res_td4">89</td>
        <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar dark-green"></div></div></td>   <!-- progress bar -->
      </tr>

      <tr class="liste_res_tr">
        <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
        <td class="liste_res_td2">I.U.T de Nimes</td>
        <td class="liste_res_td3">12.5</td>
        <td class="liste_res_td4">87</td>
        <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar dark-green"></div></div></td>   <!-- progress bar -->
      </tr>

      <tr class="liste_res_tr">
        <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
        <td class="liste_res_td2">I.U.T 1 Grenoble</td>
        <td class="liste_res_td3">13.1</td>
        <td class="liste_res_td4">87</td>
        <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar dark-green"></div></div></td>   <!-- progress bar -->
      </tr>

      <tr class="liste_res_tr">
        <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
        <td class="liste_res_td2">I.U.T De Troyes</td>
        <td class="liste_res_td3">12.3</td>
        <td class="liste_res_td4">86</td>
        <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar dark-green"></div></div></td>   <!-- progress bar -->
      </tr>

      <tr class="liste_res_tr">
        <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
        <td class="liste_res_td2">I.U.T Clermont Auvergne - site de Montluçon</td>
        <td class="liste_res_td3">12.9</td>
        <td class="liste_res_td4">85</td>
        <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar dark-green"></div></div></td>   <!-- progress bar -->
      </tr>

      <tr class="liste_res_tr">
        <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
        <td class="liste_res_td2">I.U.T de Saint-Etienne</td>
        <td class="liste_res_td3">12.3</td>
        <td class="liste_res_td4">85</td>
        <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar dark-green"></div></div></td>   <!-- progress bar -->
      </tr>

      <tr class="liste_res_tr">
        <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
        <td class="liste_res_td2">I.U.T de Brest</td>
        <td class="liste_res_td3">13.3</td>
        <td class="liste_res_td4">85</td>
        <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar dark-green"></div></div></td>   <!-- progress bar -->
      </tr>

      <tr class="liste_res_tr">
        <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
        <td class="liste_res_td2">I.U.T d'Aix-Marseille - Site de Salon-De-Provence</td>
        <td class="liste_res_td3">12.6</td>
        <td class="liste_res_td4">85</td>
        <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar dark-green"></div></div></td>   <!-- progress bar -->
      </tr>

      <tr class="liste_res_tr">
        <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
        <td class="liste_res_td2">I.U.T Angers-Cholet - Site d'Angers</td>
        <td class="liste_res_td3">13.2</td>
        <td class="liste_res_td4">85</td>
        <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar dark-green"></div></div></td>   <!-- progress bar -->
      </tr>

      <tr class="liste_res_tr">
        <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
        <td class="liste_res_td2">I.U.T du Havre</td>
        <td class="liste_res_td3">12.4</td>
        <td class="liste_res_td4">84</td>
        <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar dark-green"></div></div></td>   <!-- progress bar -->
      </tr>

      <tr class="liste_res_tr">
        <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
        <td class="liste_res_td2">I.U.T de Valenciennes</td>
        <td class="liste_res_td3">12.4</td>
        <td class="liste_res_td4">84</td>
        <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar dark-green"></div></div></td>   <!-- progress bar -->
      </tr>

      <tr class="liste_res_tr">
        <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favoris -->
        <td class="liste_res_td2">I.U.T de Rennes</td>
        <td class="liste_res_td3">13</td>
        <td class="liste_res_td4">84</td>
        <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar dark-green"></div></div></td>   <!-- progress bar -->
      </tr>

      </tbody>
    </table>


  </section>
</div>
