<div class="title">Choix de Parcours</div>
<div class="container">
  <div class="barre-onglet">
    <button
      class="onglet"
      [ngClass]="{ active: activeTab == 0 }"
      (click)="activeTab = 0"
    >
      Encadré de présentation
    </button>
    <button
      class="onglet"
      [ngClass]="{ active: activeTab == 1 }"
      (click)="activeTab = 1"
    >
      Comprendre les critères d'analses des candidatures
    </button>
    <button
      class="onglet"
      [ngClass]="{ active: activeTab == 2 }"
      (click)="activeTab = 2"
    >
      Consulter les modalités de candidature
    </button>
    <button
      class="onglet"
      [ngClass]="{ active: activeTab == 3 }"
      (click)="activeTab = 3"
    >
      Accéder aux chiffres clés de la formation
    </button>
    <button
      class="onglet"
      [ngClass]="{ active: activeTab == 4 }"
      (click)="activeTab = 4"
    >
      Connaitre les débouchées
    </button>
    <button
      class="onglet"
      [ngClass]="{ active: activeTab == 5 }"
      (click)="activeTab = 5"
    >
      <!-- Pensez à recupérer la fiche établissement d'onisep-->
      Contcter et échanger avec l'établissement
    </button>
  </div>

  <div class="search-section" [ngSwitch]="activeTab">
    <div class="search-form" *ngSwitchCase="0">
      Présentation de la formation Le parcours proposé met l'accent sur
      l'automatisme et la robotique, domaines incontournables dans le secteur de
      la production industrielle. Avec la révolution numérique de l'industrie du
      futur, ce parcours vous rendra apte à installer et à programmer des
      systèmes automatisés (automates, robots et vision) qui assurent la
      conduite et le contrôle des procédés industriels. Vous découvrirez ce que
      l'industrie du futur apporte comme nouvelle façon d'organiser les moyens
      de production, en plaçant le numérique (l'internet des objets (IoT), le
      jumeau numérique, la réalité augmentée ou virtuelle, l'intelligence
      artificielle, le Cloud, le Big Data, la cybersécurité, etc.) au cœur des
      moyens de fabrication. Ces outils communicants, grâce à l'essor des
      nouveaux réseaux informatiques industriels, vous apporteront des solutions
      pour mettre en place des systèmes de contrôle (supervision et Interface
      Homme-Machine) qui permettront l'aide à la conduite des installations,
      leur surveillance, la traçabilité des produits et le suivi des
      consommations d'énergies À l'issue de vos deux premières années de
      formation, vous resterez titulaire du D.U.T. GEII (nouvelle version
      cependant). Vous réaliserez au moins 22 semaines de stage en plus de 600
      heures de projets dans le cadre de la formation. Vous pourrez également
      bénéficier d'une expérience internationale. Les deuxième et troisième
      années du BUT peuvent se poursuivre en alternance. Mention Génie
      électrique et informatique industrielle : Voir la fiche Onisep
      Certification BUT contrôlé par l'état À savoir Information : Bourses de
      l'enseignement supérieur L’inscription dans cette formation permet de
      demander une bourse sous conditions de critères sociaux à l’aide du
      dossier social étudiant.
    </div>
    <div class="search-form" *ngSwitchCase="1">
      Quels sont les critères utilisés par l'établissement pour analyser votre
      candidature ? Grille d’analyse des candidatures Vos résultats scolaires ou
      obtenus dans l'enseignement supérieur 30% Vos compétences, méthodes de
      travail et savoir-faire 30% Savoir-être 10% Votre motivation et la
      cohérence de votre projet 20% Vos engagements, vos activités et centres
      d’intérêt 10% Cette grille d'analyse a été définie par la commission
      d'examen des voeux de la formation Vos résultats scolaires ou obtenus dans
      l'enseignement supérieur : 30 % Vos compétences, méthodes de travail et
      savoir-faire : 30 % Savoir-être : 10 % Votre motivation et la cohérence de
      votre projet : 20 % Vos engagements, vos activités et centres d’intérêt :
      10 % L’examen des candidatures par les formations Qui analyse les
      candidatures ? Comment se déroule l’analyse des candidatures ? Conseils
      aux candidats Cette session, comme les trois précédentes, est marquée par
      une grande différence entre les quotas imposés et les viviers de
      demandeurs du fait de la faiblesse des effectifs de bacheliers STi.
      Conseil aux candidats : si vous ne venez pas de bac technologique, ayez un
      peu de patience avant de choisir une autre formation, le temps que
      parcoursup autorise l'examen de vos vœux. Détails de la grille d’analyse
      des candidatures par la commission Vos résultats scolaires ou obtenus dans
      l'enseignement supérieur comptent pour 30% Critère d'évaluation essentiel
      : Résultats académiques Résultats académiques Éléments évalués : - Notes
      en mathématique - notes en technologie, science de l’ingénieur, ISN ou
      équivalent suivant le diplôme préparé - Niveau en anglais - Résultats des
      épreuves anticipées de français du baccalauréat - Moyenne générale -
      Progression des moyennes Essentiel Vos compétences, méthodes de travail et
      savoir-faire comptent pour 30% Critère d'évaluation très important : -
      Rigueur de la démarche scientifique - Connaissance suffisante de l’anglais
      . - Intérêt pour les techniques associées aux technologies de
      l'électricité, de l'informatique et du geii en général - Rigueur de la
      démarche scientifique - Connaissance suffisante de l’anglais . - Intérêt
      pour les techniques associées aux technologies de l'électricité, de
      l'informatique et du geii en général Éléments évalués : Appréciations du
      conseil de classe et des enseignants (bulletins) Fiche avenir Très
      important Votre savoir-être compte pour 10% Critère d'évaluation important
      : - Autonomie - Capacité à s’investir - Implication - Capacité à fournir
      des efforts - Concentration en classe - Capacité d’organisation - Esprit
      d’équipe - Ouverture au monde - Curiosité intellectuelle - Autonomie -
      Capacité à s’investir - Implication - Capacité à fournir des efforts -
      Concentration en classe - Capacité d’organisation - Esprit d’équipe -
      Ouverture au monde - Curiosité intellectuelle Éléments évalués : -
      Autonomie - Capacité à s’investir - Implication - Capacité à fournir des
      efforts - Concentration en classe - Capacité d’organisation - Esprit
      d’équipe - Ouverture au monde - Curiosité intellectuelle Important Votre
      motivation et la cohérence de votre projet comptent pour 20% Critère
      d'évaluation essentiel : - Motivation - Cohérence du projet, adéquation du
      projet aux débouchés de la formation - Intérêt pour la formation - Montrer
      sa motivation - Motivation - Cohérence du projet, adéquation du projet aux
      débouchés de la formation - Intérêt pour la formation - Montrer sa
      motivation Éléments évalués : - Motivation - Cohérence du projet,
      adéquation du projet aux débouchés de la formation - Intérêt pour la
      formation exprimé dans le projet de formation motivé - Montrer sa
      motivation et sa curiosité pour la technologie et les sciences en général
      Essentiel Vos engagements, vos activités et centres d’intérêt comptent
      pour 10% Critère d'évaluation complémentaire : - Engagement étudiant (CVL,
      MDL…) - Engagement associatif - Intérêt pour la démarche scientifique -
      Engagement étudiant (CVL, MDL…) - Engagement associatif - Intérêt pour la
      démarche scientifique Éléments évalués : - Fiche avenir - avis conseil -
      projet de formation motivé Complémentaire Quelles connaissances et
      compétences sont attendues pour réussir cette formation ? Informations sur
      les parcours d'études au lycée conseillés par la formation Cette formation
      accueille des profils variés issus de la voie technologique, de la voie
      générale et, pour de très bons dossiers, de la voie professionnelle. La
      capacité d'accueil prévoit un nombre de places priorisé pour les
      bacheliers technologiques. Les attendus nationaux COMPETENCES GENERALES -
      Être actif dans sa formation : écouter, participer et avoir envie
      d’apprendre, - Avoir une maîtrise du français permettant d’acquérir de
      nouvelles compétences, de comprendre un énoncé scientifique et de rédiger
      une solution à un problème, - Avoir un niveau suffisant en anglais pour
      progresser pendant la formation afin d’extraire les informations d’un
      document technique rédigé en anglais et de pouvoir échanger oralement ou à
      l’écrit sur un sujet technique, - Détenir des connaissances de base en
      bureautique et être capable d’évoluer dans un environnement numérique.
      COMPETENCES TECHNIQUES ET SCIENTIFIQUES - Mobiliser des ressources pour
      répondre à une problématique scientifique et technique, - Élaborer un
      raisonnement structuré et adapté à une situation donnée. QUALITES HUMAINES
      - Avoir une première réflexion sur son projet professionnel, - Montrer sa
      motivation et sa curiosité pour la technologie et les sciences en général,
      - S'impliquer dans ses études et fournir un travail régulier, nécessaires
      à la réussite, - Avoir l'esprit d'équipe, être capable de s'intégrer et de
      participer activement aux travaux de groupe, - Faire preuve d’autonomie et
      d’initiative.
    </div>
    <div class="search-form" *ngSwitchCase="2">
      Les conditions pour candidater Si vous êtes candidat de nationalité
      étrangère, et à la fois : - non titulaire ou ne préparant pas un
      baccalauréat français ou un baccalauréat européen ; - non ressortissant de
      l’Union européenne (U.E.), de l'Espace économique européen (E.E.E.), de la
      Confédération Suisse, de Monaco ou d'Andorre ; - et que vous résidez dans
      un des pays disposant d'un espace Campus France à procédure Etudes en
      France : vous ne devez pas vous inscrire sur Parcoursup. Vous devez faire
      vos démarches sur le site de Campus France de votre pays de résidence :
      www.nom_du_pays.campusfrance.org (exemple : www.maroc.campusfrance.org).
      Si vous n’êtes pas concernés par l’ensemble de ces trois conditions,
      notamment si vous résidez déjà en France, vous devez vous inscrire sur
      Parcoursup.
    </div>
    <div class="search-form" *ngSwitchCase="3">
      La formation 24 places disponibles pour la rentrée étudiante 2024 94% de
      taux d'accès à la formation en 2023 En savoir plus Le taux d'accès affiché
      est celui de 2023. Il représente la proportion de candidats qui ont pu
      recevoir une proposition d'admission. Un taux d'accès à 100% signifie que
      tous les candidats qui voulaient accéder à cette formation, ont reçu une
      proposition d'admission en phase principale. Répartition par type de
      baccalauréat, des candidats qui étaient en position de recevoir une
      proposition en phase principale en 2023 Voie générale 56% Voie
      technologique 36% Voie professionnelle 8% Répartition par type de
      baccalauréat, des candidats qui étaient en position de recevoir une
      proposition en phase principale en 2023 Voie générale : 56 % Voie
      technologique : 36 % Voie professionnelle : 8 % Note de lecture Le
      graphique ci-dessus représente le pourcentage de candidats qui ont été
      classés en 2023 par la formation et qui étaient en position de recevoir
      une proposition d’admission dans la formation, par type de baccalauréat.
      Tous ces candidats n’ont pas intégré la formation, soit parce qu’ils ont
      eux-mêmes renoncé à cette formation avant de recevoir la proposition
      d’admission, soit parce qu’ils ont eu le choix entre plusieurs formations
      et ont au final accepté la proposition d’une autre formation. Candidatures
      et admissions 164 voeux formulés en 2024 195 vœux formulés en 2023 Rythme
      d’envoi des propositions d’admission en 2023 Jour J 26 % J + 10 99 % J +
      20 100 % J + 30 100 % Fin 100 % Rythme d’envoi des propositions
      d’admission en 2023 Jour J : Premier jour des admissions Fin : Fin de la
      phase principale Jour J : 26% J + 10 : 99% J + 20 : 100% J + 30 : 100% Fin
      : 100% Note de lecture Pour rappel, pendant la phase d’admission lorsque
      vous recevez les réponses des formations, les propositions d’admission
      sont envoyées en continu en fonction de l’évolution des listes d’attente.
      Ce graphique vous permet d’anticiper le déroulement de cette phase qui
      débute le 30 mai 2024. La formation disposait de 28 places en 2023. La
      formation a envoyé 121 propositions d'admission, au total, en 2023. 20
      jours après le début des admissions, 100 % de ces propositions d'admission
      avaient été envoyées. Dispositifs prévus par la loi pour favoriser
      l'égalité d'accès dans l'enseignement supérieur Ces dispositifs sont
      prévus pour améliorer l'égalité d'accès dans l'enseignement supérieur. 21%
      de boursiers au minimum en 2024 50% de bacheliers technologiques en 2024
      Réussite et insertion professionnelle des étudiants Taux de passage en
      2ème année Taux : 61.3 tous bacs confondus
    </div>
    <div class="search-form" *ngSwitchCase="4">
      Poursuite d'études POURSUITES D'ÉTUDES Formations universitaires (LMD)
      Écoles d'ingénieurs Autres formations (privées, qualifiantes) Débouchés
      professionnels DEBOUCHES: Cadre technique dans les domaines de
      l'informatique industrielle et de l'automatisme (études et conception,
      conduite d'installation automatisée, maintenance, contrôle essais
      qualité...), cadre technico-commercial, responsable projet, développeur en
      informatique industrielle, roboticien/automaticien, assistant responsable
      d'affaires, chef de projet, chargé d'affaires ou d'études, responsable de
      maintenance, conseiller, consultant, assistant ingénieur, chargé d'essais,
      technicien projeteur, intégrateur, spécialiste en sécurité des systèmes,
      cadres d'étude et développement en automatismes industriels.
    </div>
    <div class="search-form" *ngSwitchCase="5">
      Établissement I.U.T de Saint Dié - Université de Lorraine (Public) 11, rue
      de l'Université 88100 Saint-Dié-des-Vosges Téléphone de l'accueil :
      03.72.74.95.00 http://www.iutsd.univ-lorraine.fr Informations
      supplémentaires Au bord de la Meurthe, entre Nancy et Colmar, l’IUT de
      Saint-Dié est une structure moderne à taille humaine qui allie rigueur et
      convivialité. Notre IUT fait partie du Collégium de Technologie de
      l’Université de Lorraine. Il propose des études universitaires à vocation
      technologique assurées par des enseignants, des enseignants-chercheurs et
      des professionnels où sont privilégiés les cours en petits groupes, avec
      un contrôle continu, associé à de nombreux travaux pratiques sur des
      équipements performants en accès libre. A votre disposition, vous
      trouverez : Une Bibliothèque Universitaire (BU) Deux établissements
      agréées par le CROUS pour la Restauration Une salle de détente est
      également disponible pour les étudiants. L’Association des Étudiants
      (AEPUD) veille à la bonne intégration des nouveaux en proposant des
      animations sportives, culturelles, festives …
      https://iutsd.univ-lorraine.fr/association-etudiante/ Rechercher une
      personne avec qui échanger Sur l'accompagnement pour les situations de
      handicap Possibilité d'aménagement de la scolarité pour les personnes en
      situation de handicap. Consultez la page dédiée sur le site d'information
      de l'établissement : Voir l'accompagnement proposé Référent handicap :
      yves.cardellini&#64;lorraine.fr
    </div>
  </div>
</div>
