.container {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: yellow;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  display: block;
  width: 100%;
  background-color: var(--rouge-damotic);
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: var(--rouge-damotic);
}

.alert {
  margin-top: 10px;
}

a.btn {
  display: block;
  width: 100%;
  margin-top: 10px;
}
.btn-signup {
  background-color: var(--rouge-damotic);
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
}

.btn-signup:hover {
  background-color: var(--rouge-damotic);
}

