<p>domaines-de-formation works!</p>
<div style="width: 100%; height: 100%; position: relative; background: white">
  <div
    style="
      width: 320px;
      height: 2183px;
      left: 0px;
      top: 176px;
      position: absolute;
    "
  >
    <div
      style="
        width: 320px;
        height: 2183px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #132f49;
      "
    ></div>
    <div
      style="
        width: 270px;
        height: 2119px;
        left: 25px;
        top: 27px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        width: 247px;
        height: 2055px;
        left: 28px;
        top: 45px;
        position: absolute;
      "
    >
      <div
        style="
          width: 230px;
          height: 60px;
          left: 15px;
          top: 300px;
          position: absolute;
        "
      >
        <div
          style="
            width: 230px;
            height: 60px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #dc2242;
          "
        ></div>
        <div
          style="
            width: 160px;
            height: 54px;
            left: 5px;
            top: 3px;
            position: absolute;
            text-align: center;
            color: white;
            font-size: 14px;
            font-family: Inter;
            font-weight: 400;
            word-wrap: break-word;
          "
        >
          Les licences de lettres et de langues
        </div>
        <img
          style="
            width: 20px;
            height: 17.19px;
            left: 192px;
            top: 17px;
            position: absolute;
          "
          src="https://via.placeholder.com/20x17"
        />
      </div>
      <div
        style="
          width: 230px;
          height: 60px;
          left: 0px;
          top: 0px;
          position: absolute;
        "
      >
        <div
          style="
            width: 230px;
            height: 60px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #d9d9d9;
          "
        ></div>
        <div
          style="
            width: 155.49px;
            height: 26px;
            left: 37px;
            top: 18px;
            position: absolute;
            text-align: center;
            color: black;
            font-size: 14px;
            font-family: Inter;
            font-weight: 400;
            word-wrap: break-word;
          "
        >
          À l'université
        </div>
        <div
          style="
            width: 20px;
            height: 20.68px;
            left: 195px;
            top: 18px;
            position: absolute;
          "
        >
          <div
            style="
              width: 20px;
              height: 18.91px;
              left: 0px;
              top: 1.77px;
              position: absolute;
              background: white;
            "
          ></div>
          <div
            style="
              width: 20px;
              height: 18.91px;
              left: 0px;
              top: 0px;
              position: absolute;
              text-align: center;
              color: black;
              font-size: 32px;
              font-family: Inter;
              font-weight: 400;
              word-wrap: break-word;
            "
          >
            -
          </div>
        </div>
      </div>
      <div
        style="
          width: 230px;
          height: 60px;
          left: 15px;
          top: 75px;
          position: absolute;
        "
      >
        <div
          style="
            width: 230px;
            height: 60px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #dc2242;
          "
        ></div>
        <div
          style="
            width: 146px;
            height: 46px;
            left: 2px;
            top: 7px;
            position: absolute;
            text-align: center;
            color: white;
            font-size: 14px;
            font-family: Inter;
            font-weight: 400;
            word-wrap: break-word;
          "
        >
          Les licences d'arts
        </div>
        <img
          style="
            width: 20px;
            height: 17.19px;
            left: 195px;
            top: 19px;
            position: absolute;
          "
          src="https://via.placeholder.com/20x17"
        />
      </div>
      <div
        style="
          width: 230px;
          height: 60px;
          left: 17px;
          top: 150px;
          position: absolute;
        "
      >
        <div
          style="
            width: 230px;
            height: 60px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #dc2242;
          "
        ></div>
        <div
          style="
            width: 180px;
            height: 38px;
            left: 4px;
            top: 11px;
            position: absolute;
            text-align: center;
            color: white;
            font-size: 14px;
            font-family: Inter;
            font-weight: 400;
            word-wrap: break-word;
          "
        >
          Les licences de droit et de science politique
        </div>
        <img
          style="
            width: 20px;
            height: 17.19px;
            left: 192px;
            top: 21px;
            position: absolute;
          "
          src="https://via.placeholder.com/20x17"
        />
      </div>
      <div
        style="
          width: 230px;
          height: 60px;
          left: 15px;
          top: 225px;
          position: absolute;
        "
      >
        <div
          style="
            width: 230px;
            height: 60px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #dc2242;
          "
        ></div>
        <div
          style="
            width: 184px;
            height: 41px;
            left: 0px;
            top: 9px;
            position: absolute;
            text-align: center;
            color: white;
            font-size: 14px;
            font-family: Inter;
            font-weight: 400;
            word-wrap: break-word;
          "
        >
          Les licences d'économie et de gestion
        </div>
        <img
          style="
            width: 20px;
            height: 17.19px;
            left: 192px;
            top: 21px;
            position: absolute;
          "
          src="https://via.placeholder.com/20x17"
        />
      </div>
      <div
        style="
          width: 230px;
          height: 60px;
          left: 15px;
          top: 375px;
          position: absolute;
        "
      >
        <div
          style="
            width: 230px;
            height: 60px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #dc2242;
          "
        ></div>
        <div
          style="
            width: 145px;
            height: 55px;
            left: 11px;
            top: 5px;
            position: absolute;
            text-align: center;
            color: white;
            font-size: 14px;
            font-family: Inter;
            font-weight: 400;
            word-wrap: break-word;
          "
        >
          Les licences de sciences humaines et sociales
        </div>
        <img
          style="
            width: 20px;
            height: 17.19px;
            left: 192px;
            top: 19px;
            position: absolute;
          "
          src="https://via.placeholder.com/20x17"
        />
      </div>
      <div
        style="
          width: 230px;
          height: 60px;
          left: 17px;
          top: 1694px;
          position: absolute;
        "
      >
        <div
          style="
            width: 230px;
            height: 60px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #dc2242;
          "
        ></div>
        <div
          style="
            width: 175px;
            height: 36px;
            left: 7px;
            top: 12px;
            position: absolute;
            text-align: center;
            color: white;
            font-size: 14px;
            font-family: Inter;
            font-weight: 400;
            word-wrap: break-word;
          "
        >
          Les études de psycho
        </div>
        <img
          style="
            width: 20px;
            height: 17.19px;
            left: 195px;
            top: 21px;
            position: absolute;
          "
          src="https://via.placeholder.com/20x17"
        />
      </div>
      <div
        style="
          width: 230px;
          height: 60px;
          left: 17px;
          top: 1769px;
          position: absolute;
        "
      >
        <div
          style="
            width: 230px;
            height: 60px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #dc2242;
          "
        ></div>
        <div
          style="
            width: 159px;
            height: 39px;
            left: 8px;
            top: 10px;
            position: absolute;
            text-align: center;
            color: white;
            font-size: 14px;
            font-family: Inter;
            font-weight: 400;
            word-wrap: break-word;
          "
        >
          Les études de santé
        </div>
        <img
          style="
            width: 20px;
            height: 17.19px;
            left: 192px;
            top: 21px;
            position: absolute;
          "
          src="https://via.placeholder.com/20x17"
        />
      </div>
      <div
        style="
          width: 230px;
          height: 60px;
          left: 17px;
          top: 1844px;
          position: absolute;
        "
      >
        <div
          style="
            width: 230px;
            height: 60px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #dc2242;
          "
        ></div>
        <div
          style="
            width: 186px;
            height: 55px;
            left: 0px;
            top: 5px;
            position: absolute;
            text-align: center;
            color: white;
            font-size: 14px;
            font-family: Inter;
            font-weight: 400;
            word-wrap: break-word;
          "
        >
          Le PPPE (parcours préparatoire au professorat des écoles)
        </div>
        <img
          style="
            width: 20px;
            height: 17.19px;
            left: 192px;
            top: 24px;
            position: absolute;
          "
          src="https://via.placeholder.com/20x17"
        />
      </div>
      <div
        style="
          width: 230px;
          height: 60px;
          left: 17px;
          top: 1919px;
          position: absolute;
        "
      >
        <div
          style="
            width: 230px;
            height: 60px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #dc2242;
          "
        ></div>
        <div
          style="
            width: 188px;
            height: 42px;
            left: 0px;
            top: 9px;
            position: absolute;
            text-align: center;
            color: white;
            font-size: 14px;
            font-family: Inter;
            font-weight: 400;
            word-wrap: break-word;
          "
        >
          La formation des enseignants en Inspé
        </div>
        <img
          style="
            width: 20px;
            height: 17.19px;
            left: 192px;
            top: 21px;
            position: absolute;
          "
          src="https://via.placeholder.com/20x17"
        />
      </div>
      <div
        style="
          width: 230px;
          height: 1229px;
          left: 17px;
          top: 450px;
          position: absolute;
        "
      >
        <div
          style="
            width: 230px;
            height: 60px;
            left: 0px;
            top: 0px;
            position: absolute;
          "
        >
          <div
            style="
              width: 230px;
              height: 60px;
              left: 0px;
              top: 0px;
              position: absolute;
              background: #80101e;
            "
          ></div>
          <div
            style="
              width: 184px;
              height: 42px;
              left: 2px;
              top: 12px;
              position: absolute;
              text-align: center;
              color: white;
              font-size: 14px;
              font-family: Inter;
              font-weight: 400;
              word-wrap: break-word;
            "
          >
            Les licences de sciences
          </div>
          <div
            style="
              width: 20px;
              height: 20.68px;
              left: 192px;
              top: 19px;
              position: absolute;
            "
          >
            <div
              style="
                width: 20px;
                height: 18.91px;
                left: 0px;
                top: 1.77px;
                position: absolute;
                background: white;
              "
            ></div>
            <div
              style="
                width: 20px;
                height: 18.91px;
                left: 0px;
                top: 0px;
                position: absolute;
                text-align: center;
                color: black;
                font-size: 14px;
                font-family: Inter;
                font-weight: 400;
                word-wrap: break-word;
              "
            >
              -
            </div>
          </div>
        </div>
        <div
          style="
            width: 211px;
            height: 1154px;
            left: 9px;
            top: 75px;
            position: absolute;
          "
        >
          <div
            style="
              width: 210px;
              height: 58px;
              left: 1px;
              top: 0px;
              position: absolute;
            "
          >
            <div
              style="
                width: 210px;
                height: 58px;
                left: 0px;
                top: 0px;
                position: absolute;
                background: #d9d9d9;
              "
            ></div>
            <div
              style="
                width: 168px;
                height: 48px;
                left: 18px;
                top: 10px;
                position: absolute;
                text-align: center;
                color: black;
                font-size: 14px;
                font-family: Inter;
                font-weight: 400;
                word-wrap: break-word;
              "
            >
              Chimie
            </div>
          </div>
          <div
            style="
              width: 210px;
              height: 58px;
              left: 1px;
              top: 73px;
              position: absolute;
            "
          >
            <div
              style="
                width: 210px;
                height: 58px;
                left: 0px;
                top: 0px;
                position: absolute;
                background: #d9d9d9;
              "
            ></div>
            <div
              style="
                width: 181px;
                height: 50px;
                left: 18px;
                top: 8px;
                position: absolute;
                text-align: center;
                color: black;
                font-size: 14px;
                font-family: Inter;
                font-weight: 400;
                word-wrap: break-word;
              "
            >
              Électronique, énergie électrique, automatique
            </div>
          </div>
          <div
            style="
              width: 210px;
              height: 58px;
              left: 1px;
              top: 146px;
              position: absolute;
            "
          >
            <div
              style="
                width: 210px;
                height: 58px;
                left: 0px;
                top: 0px;
                position: absolute;
                background: #d9d9d9;
              "
            ></div>
            <div
              style="
                width: 178px;
                height: 51px;
                left: 14px;
                top: 7px;
                position: absolute;
                text-align: center;
                color: black;
                font-size: 14px;
                font-family: Inter;
                font-weight: 400;
                word-wrap: break-word;
              "
            >
              Génie civil
            </div>
          </div>
          <div
            style="
              width: 210px;
              height: 58px;
              left: 1px;
              top: 219px;
              position: absolute;
            "
          >
            <div
              style="
                width: 210px;
                height: 58px;
                left: 0px;
                top: 0px;
                position: absolute;
                background: #a6a6a6;
              "
            ></div>
            <div
              style="
                width: 178px;
                height: 45px;
                left: 14px;
                top: 9px;
                position: absolute;
                text-align: center;
                color: black;
                font-size: 14px;
                font-family: Inter;
                font-weight: 400;
                word-wrap: break-word;
              "
            >
              Informatique
            </div>
          </div>
          <div
            style="
              width: 210px;
              height: 58px;
              left: 1px;
              top: 292px;
              position: absolute;
            "
          >
            <div
              style="
                width: 210px;
                height: 58px;
                left: 0px;
                top: 0px;
                position: absolute;
                background: #d9d9d9;
              "
            ></div>
            <div
              style="
                width: 166px;
                height: 53px;
                left: 18px;
                top: 5px;
                position: absolute;
                text-align: center;
                color: black;
                font-size: 14px;
                font-family: Inter;
                font-weight: 400;
                word-wrap: break-word;
              "
            >
              Mathématiques
            </div>
          </div>
          <div
            style="
              width: 210px;
              height: 58px;
              left: 1px;
              top: 365px;
              position: absolute;
            "
          >
            <div
              style="
                width: 210px;
                height: 58px;
                left: 0px;
                top: 0px;
                position: absolute;
                background: #d9d9d9;
              "
            ></div>
            <div
              style="
                width: 183px;
                height: 42px;
                left: 12px;
                top: 6px;
                position: absolute;
                text-align: center;
                color: black;
                font-size: 14px;
                font-family: Inter;
                font-weight: 400;
                word-wrap: break-word;
              "
            >
              Mécanique
            </div>
          </div>
          <div
            style="
              width: 210px;
              height: 58px;
              left: 1px;
              top: 438px;
              position: absolute;
            "
          >
            <div
              style="
                width: 210px;
                height: 58px;
                left: 0px;
                top: 0px;
                position: absolute;
                background: #d9d9d9;
              "
            ></div>
            <div
              style="
                width: 183px;
                height: 49px;
                left: 14px;
                top: 9px;
                position: absolute;
                text-align: center;
                color: black;
                font-size: 14px;
                font-family: Inter;
                font-weight: 400;
                word-wrap: break-word;
              "
            >
              MIASHS
            </div>
          </div>
          <div
            style="
              width: 210px;
              height: 58px;
              left: 1px;
              top: 511px;
              position: absolute;
            "
          >
            <div
              style="
                width: 210px;
                height: 58px;
                left: 0px;
                top: 0px;
                position: absolute;
                background: #d9d9d9;
              "
            ></div>
            <div
              style="
                width: 183px;
                height: 49px;
                left: 14px;
                top: 9px;
                position: absolute;
                text-align: center;
                color: black;
                font-size: 14px;
                font-family: Inter;
                font-weight: 400;
                word-wrap: break-word;
              "
            >
              Physique
            </div>
          </div>
          <div
            style="
              width: 210px;
              height: 58px;
              left: 1px;
              top: 584px;
              position: absolute;
            "
          >
            <div
              style="
                width: 210px;
                height: 58px;
                left: 0px;
                top: 0px;
                position: absolute;
                background: #d9d9d9;
              "
            ></div>
            <div
              style="
                width: 158px;
                height: 49px;
                left: 26px;
                top: 9px;
                position: absolute;
                text-align: center;
                color: black;
                font-size: 14px;
                font-family: Inter;
                font-weight: 400;
                word-wrap: break-word;
              "
            >
              Physique, Chimie
            </div>
          </div>
          <div
            style="
              width: 210px;
              height: 58px;
              left: 1px;
              top: 657px;
              position: absolute;
            "
          >
            <div
              style="
                width: 210px;
                height: 58px;
                left: 0px;
                top: 0px;
                position: absolute;
                background: #d9d9d9;
              "
            ></div>
            <div
              style="
                width: 170px;
                height: 49px;
                left: 16px;
                top: 9px;
                position: absolute;
                text-align: center;
                color: black;
                font-size: 14px;
                font-family: Inter;
                font-weight: 400;
                word-wrap: break-word;
              "
            >
              Sciences de la Terre
            </div>
          </div>
          <div
            style="
              width: 210px;
              height: 58px;
              left: 1px;
              top: 730px;
              position: absolute;
            "
          >
            <div
              style="
                width: 210px;
                height: 58px;
                left: 0px;
                top: 0px;
                position: absolute;
                background: #d9d9d9;
              "
            ></div>
            <div
              style="
                width: 160px;
                height: 50px;
                left: 22px;
                top: 8px;
                position: absolute;
                text-align: center;
                color: black;
                font-size: 14px;
                font-family: Inter;
                font-weight: 400;
                word-wrap: break-word;
              "
            >
              Sciences de la vie
            </div>
          </div>
          <div
            style="
              width: 210px;
              height: 59px;
              left: 1px;
              top: 803px;
              position: absolute;
            "
          >
            <div
              style="
                width: 210px;
                height: 58px;
                left: 0px;
                top: 0px;
                position: absolute;
                background: #d9d9d9;
              "
            ></div>
            <div
              style="
                width: 174px;
                height: 52px;
                left: 20px;
                top: 7px;
                position: absolute;
                text-align: center;
                color: black;
                font-size: 14px;
                font-family: Inter;
                font-weight: 400;
                word-wrap: break-word;
              "
            >
              Sciences de la vie et de la Terre
            </div>
          </div>
          <div
            style="
              width: 210px;
              height: 58px;
              left: 1px;
              top: 877px;
              position: absolute;
            "
          >
            <div
              style="
                width: 210px;
                height: 58px;
                left: 0px;
                top: 0px;
                position: absolute;
                background: #d9d9d9;
              "
            ></div>
            <div
              style="
                width: 176px;
                height: 52px;
                left: 14px;
                top: 6px;
                position: absolute;
                text-align: center;
                color: black;
                font-size: 14px;
                font-family: Inter;
                font-weight: 400;
                word-wrap: break-word;
              "
            >
              Sciences et Technologie
            </div>
          </div>
          <div
            style="
              width: 210px;
              height: 58px;
              left: 1px;
              top: 950px;
              position: absolute;
            "
          >
            <div
              style="
                width: 210px;
                height: 58px;
                left: 0px;
                top: 0px;
                position: absolute;
                background: #d9d9d9;
              "
            ></div>
            <div
              style="
                width: 172px;
                height: 50px;
                left: 18px;
                top: 8px;
                position: absolute;
                text-align: center;
                color: black;
                font-size: 14px;
                font-family: Inter;
                font-weight: 400;
                word-wrap: break-word;
              "
            >
              Sciences de l'ingénieur
            </div>
          </div>
          <div
            style="
              width: 210px;
              height: 58px;
              left: 0px;
              top: 1023px;
              position: absolute;
            "
          >
            <div
              style="
                width: 210px;
                height: 58px;
                left: 0px;
                top: 0px;
                position: absolute;
                background: #d9d9d9;
              "
            ></div>
            <div
              style="
                width: 180px;
                height: 52px;
                left: 20px;
                top: 6px;
                position: absolute;
                text-align: center;
                color: black;
                font-size: 14px;
                font-family: Inter;
                font-weight: 400;
                word-wrap: break-word;
              "
            >
              Sciences pour la santé
            </div>
          </div>
          <div
            style="
              width: 210px;
              height: 58px;
              left: 1px;
              top: 1096px;
              position: absolute;
            "
          >
            <div
              style="
                width: 210px;
                height: 58px;
                left: 0px;
                top: 0px;
                position: absolute;
                background: #d9d9d9;
              "
            ></div>
            <div
              style="
                width: 168px;
                height: 50px;
                left: 18px;
                top: 8px;
                position: absolute;
                text-align: center;
                color: black;
                font-size: 14px;
                font-family: Inter;
                font-weight: 400;
                word-wrap: break-word;
              "
            >
              STAPS
            </div>
          </div>
        </div>
      </div>
      <div
        style="
          width: 234px;
          height: 60px;
          left: 6px;
          top: 1995px;
          position: absolute;
        "
      >
        <div
          style="
            width: 230px;
            height: 60px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #d9d9d9;
          "
        ></div>
        <div
          style="
            width: 207px;
            height: 41px;
            left: 22px;
            top: 9px;
            position: absolute;
            text-align: center;
            color: black;
            font-size: 14px;
            font-family: Inter;
            font-weight: 400;
            word-wrap: break-word;
          "
        >
          En écoles spécialisées
        </div>
        <img
          style="
            width: 20px;
            height: 17.19px;
            left: 214px;
            top: 21px;
            position: absolute;
          "
          src="https://via.placeholder.com/20x17"
        />
      </div>
    </div>
  </div>
  <div
    style="
      width: 1027px;
      height: 2078px;
      left: 366px;
      top: 176px;
      position: absolute;
    "
  >
    <div
      style="
        width: 1027px;
        height: 2078px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #132f49;
      "
    ></div>
    <img
      style="
        width: 945px;
        height: 266.9px;
        left: 37px;
        top: 34px;
        position: absolute;
      "
      src="https://via.placeholder.com/945x267"
    />
  </div>


  <div
    style="
      width: 300px;
      height: 50px;
      left: 570px;
      top: 100px;
      position: absolute;
    "
  >
    <div
      style="
        width: 300px;
        height: 50px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #132f49;
      "
    ></div>
    <div
      style="
        width: 300px;
        height: 50px;
        left: 0px;
        top: 0px;
        position: absolute;
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Inter;
        font-weight: 700;
        word-wrap: break-word;
      "
    >
      Domaines de formations
    </div>
  </div>
</div>
