<div class="title">Domaines de formations</div>
<div class="container">
  <main>
    <div class="sidebar-left">
      <div id="levelListeCheckbox">
        <ul>
          <li class="leaf">
            <label for="item1">
              <span class="feuille">Les écoles d'architecture</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item2">
              <span class="feuille">Les écoles d'art</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item3">
              <span class="feuille">Les écoles d’audiovisuel</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item4">
              <span class="feuille">Les écoles d'ingénierie</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item5">
              <span class="feuille">Les écoles d'ingénieurs</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item6">
              <span class="feuille">Les écoles de commerce</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item7">
              <span class="feuille">Les écoles de communication</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item8">
              <span class="feuille">Les écoles de cinéma d'animation</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item9">
              <span class="feuille">Les écoles de journalisme</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item10">
              <span class="feuille">Les écoles de la Défense</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item11">
              <span class="feuille">Les écoles de gendarmerie</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item12">
              <span class="feuille">Les écoles de police</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item13">
              <span class="feuille">Les écoles du paramédical</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item14">
              <span class="feuille">Les écoles du social</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item15">
              <span class="feuille">Les écoles normales supérieures (ENS)</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item16">
              <span class="feuille">Les écoles vétérinaires</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item17">
              <span class="feuille">Les études de psycho</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item18">
              <span class="feuille">Les études de santé</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item19">
              <span class="feuille">L'enseignement agricole</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item20">
              <span class="feuille">La filière expertise comptable</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item21">
              <span class="feuille">La formation des enseignants en Inspé</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item22">
              <span class="feuille">Les IEP (instituts d'études politiques)</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item23">
              <span class="feuille">Les licences d'art</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item24">
              <span class="feuille">Les licences de droit et de science politique</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item25">
              <span class="feuille">Les licences d'économie et de gestion</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item26">
              <span class="feuille">Les licences de lettres et de langues</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item27">
              <span class="feuille">Les licences de sciences humaines et sociales</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item28">
              <span class="feuille">Les licences de sciences</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item29">
              <span class="feuille">Les diplômes de l'animation</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item30">
              <span class="feuille">Les diplômes d'État du sport</span>
            </label>
          </li>
          <li class="leaf">
            <label for="item31">
              <span class="feuille">Les sciences de l'ingénieur</span>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="results-section">
      <table id="table" class="liste_res_table">
        <thead>

        <tr class="liste_res_head_tr">
          <th class="liste_res_head_tr1">Nom</th>
          <th class="liste_res_head_tr2">Description</th>
          <th class="liste_res_head_tr3">Durée de la formation<br>&#9650;&#9660;/th>
          <th class="liste_res_head_tr4">Niveau terminal d'études<br>&#9650;&#9660;</th>
        </tr>

        </thead>
        <tbody>

        <tr class="liste_res_tr">
          <td class="liste_res_td1">La licence chimie</td>
          <td class="liste_res_td2">Pharmacie, cosmétique, environnement, matériaux, énergie, agro-industries… Les étudiants en licence chimie découvrent les différentes applications de la discipline pour ensuite construire un parcours d’études en fonction d’un projet professionnel.</td>
          <td class="liste_res_td3">3 ans</td>
          <td class="liste_res_td4">⁠Bac + 3</td>
        </tr>

        <tr class="liste_res_tr">
          <td class="liste_res_td1">La licence électronique, énergie électrique, automatique</td>
          <td class="liste_res_td2">En licence électronique, énergie électrique, automatique (EEEA), les étudiants abordent les fondamentaux de l’électronique, le traitement du signal, la conversion d'énergie et les outils mathématiques. Une formation pluridisciplinaire en sciences de l'ingénieur qui allie théorie et approche métier.</td>
          <td class="liste_res_td3">3 ans</td>
          <td class="liste_res_td4">⁠Bac + 3</td>
        </tr>

        <tr class="liste_res_tr">
          <td class="liste_res_td1">La licence génie civil</td>
          <td class="liste_res_td2">La licence génie civil permet d’acquérir la culture nécessaire pour rejoindre le secteur du bâtiment et des travaux publics. Mécanique des solides, résistances de matériaux... avant d'approfondir l'ingénierie des bâtiments, il faut acquérir les outils en sciences. Les mises en situation professionnelle sont nombreuses.</td>
          <td class="liste_res_td3">3 ans</td>
          <td class="liste_res_td4">⁠Bac + 3</td>
        </tr>

        <tr class="liste_res_tr">
          <td class="liste_res_td1">La licence informatique</td>
          <td class="liste_res_td2">En licence informatique, les étudiants passent d’un statut d’utilisateur d’un ordinateur à celui d’apprenti de la science informatique : conception de logiciels, bases de données, informatique industrielle... La composante scientifique est importante, notamment avec les mathématiques.</td>
          <td class="liste_res_td3">3 ans</td>
          <td class="liste_res_td4">⁠Bac + 3</td>
        </tr>

        <tr class="liste_res_tr">
          <td class="liste_res_td1">La licence mathématiques</td>
          <td class="liste_res_td2">Les études en mathématiques à l’université offrent, souvent après 5 ans de formation, de nombreuses perspectives : l’enseignement, la simulation numérique, la banque-assurance, le big data… Le parcours d’études se construit dès la licence et demande des capacités d’abstraction.</td>
          <td class="liste_res_td3">3 ans</td>
          <td class="liste_res_td4">⁠Bac + 3</td>
        </tr>

        <tr class="liste_res_tr">
          <td class="liste_res_td1">La licence mécanique</td>
          <td class="liste_res_td2">La licence mécanique associe les fondamentaux de la discipline (mécanique des fluides, mécanique des structures...) avec les mathématiques, la physique et l'informatique. Les étudiants découvrent cette science du mouvement appréciée dans différents secteurs, des transports à l'aéronautique en passant par l'énergie ou le biomédical.</td>
          <td class="liste_res_td3">3 ans</td>
          <td class="liste_res_td4">⁠Bac + 3</td>
        </tr>

        <tr class="liste_res_tr">
          <td class="liste_res_td1">La licence MIASHS (Mathématiques et informatique appliquées aux sciences humaines et sociales</td>
          <td class="liste_res_td2">La licence MIASHS utilise l’approche méthodologique et les connaissances scientifiques pour étudier par exemple l’économie, la sociologie, les sciences du langage ou la géographie, selon la spécialisation retenue. Une formation particulièrement pluridisciplinaire.</td>
          <td class="liste_res_td3">3 ans</td>
          <td class="liste_res_td4">⁠Bac + 3</td>
        </tr>

        <tr class="liste_res_tr">
          <td class="liste_res_td1">La licence physique</td>
          <td class="liste_res_td2">La licence physique permet de découvrir comment la matière fonctionne, de l'infiniment petit (physique des particules) à l'infiniment grand (à l'échelle de l'Univers). Le programme associe théorie, observation du réel, expérimentation et modélisation.</td>
          <td class="liste_res_td3">3 ans</td>
          <td class="liste_res_td4">⁠Bac + 3</td>
        </tr>

        <tr class="liste_res_tr">
          <td class="liste_res_td1">La licence physique, chimie</td>
          <td class="liste_res_td2">La licence physique, chimie propose une formation équilibrée dans ces deux disciplines, ainsi qu'en mathématiques et informatiques appliquées. De quoi s'ouvrir de nombreuses portes en physique, en chimie ou à l'interface : environnement, sciences des matériaux, enseignement...</td>
          <td class="liste_res_td3">3 ans</td>
          <td class="liste_res_td4">⁠Bac + 3</td>
        </tr>

        <tr class="liste_res_tr">
          <td class="liste_res_td1">La licence sciences de la Terre</td>
          <td class="liste_res_td2">Comprendre la Terre et l'univers, de l'origine de la vie à l'exploration des planètes, des risques sismiques à la gestion de l'environnement... Tout un programme que les étudiants en licence de géosciences abordent en combinant acquisition des fondamentaux scientifiques et études de terrain.</td>
          <td class="liste_res_td3">3 ans</td>
          <td class="liste_res_td4">⁠Bac + 3</td>
        </tr>

        <tr class="liste_res_tr">
          <td class="liste_res_td1">La licence sciences de la vie</td>
          <td class="liste_res_td2">Objectif des sciences de la vie à la fac : explorer le vivant à toutes les échelles. La licence constitue souvent le premier pas d'études longues débouchant sur des secteurs tels que l'enseignement, la pharmacie, la santé, l'agroalimentaire, l'environnement et la communication scientifique.</td>
          <td class="liste_res_td3">3 ans</td>
          <td class="liste_res_td4">⁠Bac + 3</td>
        </tr>

        <tr class="liste_res_tr">
          <td class="liste_res_td1">La licence sciences de la vie et de la Terre</td>
          <td class="liste_res_td2">La licence sciences de la vie et de la Terre peut prendre des orientations diverses selon les universités : écologie, environnement, biodiversité, géologie, santé... En facteur commun, le goût pour une approche pratique, avec notamment du travail en laboratoire et sur le terrain.</td>
          <td class="liste_res_td3">3 ans</td>
          <td class="liste_res_td4">⁠Bac + 3</td>
        </tr>

        <tr class="liste_res_tr">
          <td class="liste_res_td1">La licence sciences et technologies</td>
          <td class="liste_res_td2">La licence sciences et technologies met l'accent sur l'approche des sciences (sciences et apprentissage, management des sciences, sciences et société) ou sur une discipline plus en particulier (télécommunications, mécanique, numérique). La spécialisation et les débouchés sont variés selon les universités.</td>
          <td class="liste_res_td3">3 ans</td>
          <td class="liste_res_td4">⁠Bac + 3</td>
        </tr>

        </tbody>
      </table>
    </div>
  </main>


</div>
