.container {
  width: 100%;
  height: 100%;
  position: relative;
  background: white;
}

.content-wrapper {
  width: 1268px;
  height: 710px;
  left: 80px;
  top: 266px;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #132F49;
}

.main-image {
  width: 724px;
  height: 554px;
  left: 303px;
  top: 69px;
}
/* Container */
.container {
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar-choix{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

/* Header */
.header {
  width: 300px;
  height: 50px;
  background: #132f49;
  color: white;
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Content */
.content {
  width: 972px;
  height: 512px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d9d9d9;
}

.image-background {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image {
  width: 727px;
  height: 459px;
}
