<div style="width: 100%; height: 100%; position: relative; background: white">
  <div style="width: 1440px; height: 93px; left: 0px; top: 1015px; position: absolute">
    <div style="width: 328px; height: 35px; left: 1027px; top: 34px; position: absolute; background: #D9D9D9"></div>
    <div style="width: 1440px; height: 93px; left: 0px; top: 0px; position: absolute; background: #132F49"></div>
    <div style="width: 1219px; height: 0px; left: 136px; top: 27px; position: absolute; border: 1px white solid"></div>
    <div style="width: 504px; height: 48px; left: 220px; top: 27px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Inter; font-weight: 600; word-wrap: break-word">Créer par Damotic Technologies © - Juillet 2024</div>
    <div style="width: 324px; height: 37px; left: 1028px; top: 32px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Inter; font-weight: 600; word-wrap: break-word">Conditions générale d’utilisation</div>
  </div>
  <div style="width: 1440px; height: 119px; left: 0px; top: 0px; position: absolute">
    <div style="width: 1440px; height: 84px; left: 0px; top: -4px; position: absolute; background: #132F49"></div>
    <div style="width: 82.64px; height: 27.11px; left: 1265px; top: 8px; position: absolute">
      <div style="width: 82.64px; height: 27.11px; left: 0px; top: 0px; position: absolute; background: white"></div>
      <div style="width: 45.31px; height: 17.44px; left: 23.14px; top: 4.84px; position: absolute; text-align: center; color: #DC2242; font-size: 16px; font-family: Inter; font-weight: 600; word-wrap: break-word">Login</div>
    </div>
    <div style="width: 82.64px; height: 28.40px; left: 1265.41px; top: 41.60px; position: absolute">
      <div style="width: 82.64px; height: 27.11px; left: 0px; top: 0px; position: absolute; background: white"></div>
      <div style="width: 80.02px; height: 28.09px; left: 2.48px; top: 0.30px; position: absolute; text-align: center; color: #DC2242; font-size: 16px; font-family: Inter; font-weight: 600; word-wrap: break-word">Register</div>
    </div>
    <div style="width: 57.02px; height: 56.13px; left: 1364.98px; top: 10.95px; position: absolute">
      <div style="width: 57.02px; height: 56.13px; left: 0px; top: 0px; position: absolute; background: white"></div>
      <img style="width: 54.65px; height: 53.79px; left: 0.79px; top: 1.56px; position: absolute" src="https://via.placeholder.com/55x54" />
    </div>
    <div style="width: 124px; height: 52px; left: 118px; top: 10px; position: absolute">
      <div style="width: 124px; height: 52px; left: 0px; top: 0px; position: absolute; background: white"></div>
      <div style="width: 124px; height: 51.32px; left: 0px; top: 0.68px; position: absolute; text-align: center; color: #DC2242; font-size: 16px; font-family: Inter; font-weight: 600; word-wrap: break-word">Trouver sa formation</div>
    </div>
    <div style="width: 124px; height: 52px; left: 853px; top: 11px; position: absolute">
      <div style="width: 124px; height: 52px; left: 0px; top: 0px; position: absolute; background: white"></div>
      <div style="width: 124px; height: 52px; left: 0px; top: 0px; position: absolute; text-align: center; color: #DC2242; font-size: 16px; font-family: Inter; font-weight: 600; word-wrap: break-word">Domaines formations</div>
    </div>
    <div style="width: 124px; height: 52px; left: 1000px; top: 11px; position: absolute">
      <div style="width: 124px; height: 52px; left: 0px; top: 0px; position: absolute; background: white"></div>
      <div style="width: 124px; height: 52px; left: 0px; top: 0px; position: absolute; text-align: center; color: #DC2242; font-size: 16px; font-family: Inter; font-weight: 600; word-wrap: break-word">Trouver son métier</div>
    </div>
    <div style="width: 124px; height: 52px; left: 706px; top: 10px; position: absolute">
      <div style="width: 124px; height: 52px; left: 0px; top: 0px; position: absolute; background: white"></div>
      <div style="width: 124px; height: 52px; left: 0px; top: 0px; position: absolute; text-align: center; color: #DC2242; font-size: 16px; font-family: Inter; font-weight: 600; word-wrap: break-word">Centre d’intérêt</div>
    </div>
    <div style="width: 124px; height: 52px; left: 265px; top: 10px; position: absolute">
      <div style="width: 124px; height: 52px; left: 0px; top: 0px; position: absolute; background: white"></div>
      <div style="width: 124px; height: 52px; left: 0px; top: 0px; position: absolute; text-align: center; color: #DC2242; font-size: 16px; font-family: Inter; font-weight: 600; word-wrap: break-word">Simulateur de parcours</div>
    </div>
    <img style="width: 67px; height: 61px; left: 12px; top: 10px; position: absolute" src="https://via.placeholder.com/67x61" />
    <div style="width: 124px; height: 52px; left: 559px; top: 10px; position: absolute">
      <div style="width: 124px; height: 52px; left: 0px; top: 0px; position: absolute; background: white"></div>
      <div style="width: 124px; height: 52px; left: 0px; top: 0px; position: absolute; text-align: center; color: #DC2242; font-size: 16px; font-family: Inter; font-weight: 600; word-wrap: break-word">Statistiques</div>
    </div>
    <div style="width: 124px; height: 52px; left: 412px; top: 10px; position: absolute">
      <div style="width: 123.78px; height: 51.63px; left: 0px; top: 0px; position: absolute; background: white"></div>
      <div style="width: 124px; height: 52px; left: 0px; top: 0px; position: absolute; text-align: center; color: #DC2242; font-size: 16px; font-family: Inter; font-weight: 600; word-wrap: break-word">Choix de Parcours</div>
    </div>
  </div>
  <div style="width: 396.62px; height: 76.98px; left: 522px; top: 170px; position: absolute; justify-content: center; align-items: flex-start; gap: 20.38px; display: inline-flex">
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div style="width: 118.62px; height: 76.98px; left: 0px; top: 0px; position: absolute; background: #DC2242"></div>
      <div style="width: 118.62px; height: 75.50px; left: 0px; top: 0px; position: absolute; text-align: center; color: white; font-size: 14px; font-family: Inter; font-weight: 600; word-wrap: break-word">Choix de parcours - 2nde</div>
    </div>
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div style="width: 118.62px; height: 76.98px; left: 0px; top: 0px; position: absolute; background: #DC2242"></div>
      <div style="width: 118.62px; height: 75.50px; left: 0px; top: 0px; position: absolute; text-align: center; color: white; font-size: 14px; font-family: Inter; font-weight: 600; word-wrap: break-word">Choix de parcours - 1ère Techno</div>
    </div>
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div style="width: 118.62px; height: 76.98px; left: 0px; top: 0px; position: absolute; background: #80101E"></div>
      <div style="width: 118.62px; height: 75.50px; left: 0px; top: 0px; position: absolute; text-align: center; color: white; font-size: 14px; font-family: Inter; font-weight: 600; word-wrap: break-word">Choix de parcours - 1ère Générale</div>
    </div>
  </div>
  <div style="width: 1268px; height: 710px; left: 80px; top: 266px; position: absolute">
    <div style="width: 1268px; height: 710px; left: 0px; top: 0px; position: absolute; background: #132F49"></div>
    <img style="width: 724px; height: 554px; left: 303px; top: 69px; position: absolute" src="https://via.placeholder.com/724x554" />
  </div>
  <div style="width: 300px; height: 50px; left: 570px; top: 100px; position: absolute">
    <div style="width: 300px; height: 50px; left: 0px; top: 0px; position: absolute; background: #132F49"></div>
    <div style="width: 300px; height: 50px; left: 0px; top: 0px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">Choix de parcours</div>
  </div>
</div>
