<div class="page-header">
  <div class="container-header">
    <div class="navLinks">
      <a [routerLink]="['/home']">Home</a>
      <br />
      <a [routerLink]="['/trouver-sa-formation']">Trouver sa formation</a>
      <br />
      <a [routerLink]="['/simulateur-de-parcours']">Simulateur de Parcours</a>
      <br />
      <a [routerLink]="['/choix-de-parcours/seconde']">Choix de Parcours</a>
      <br />
      <!--<a [routerLink]="['/centre-dinteret']">Centre d'intéret</a>
      <br />-->
      <a [routerLink]="['/statistiques/ProfilAdmisFilieres']">Statistiques</a>
      <br />
      <a [routerLink]="['/domaines-de-formation']">Domaines de formation</a>
      <br />
      <a [routerLink]="['/trouver-son-metier']">Trouver son métier</a>
      <br />
      <a [routerLink]="['/mon-profil']">Mon Profil</a>
      <br />
      <a [routerLink]="['/login']">Se connecter/S'inscrire</a>
    </div>
  </div>
</div>

<div id="content">
  <div class="">
    <router-outlet></router-outlet>
  </div>
</div>

<footer>
  <div>
    <div
      style="
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Inter;
        font-weight: 600;
        word-wrap: break-word;
        padding: 10px;
      "
    >
      Créer par Damotic Technologies © - Juillet 2024
    </div>
    <div
      style="
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Inter;
        font-weight: 600;
        word-wrap: break-word;
        padding: 10px;
      "
    >
      Conditions générale d’utilisation
    </div>
  </div>
</footer>
