.page-header {
  background-color: var(--bleu-damotic);
  color: #fff;
  padding: 20px;
  margin: 0px;
}

.container-header {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px; /* Hauteur fixe de la barre de navigation */
}

.navLinks a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navLinks a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

footer {
  background-color: var(--bleu-damotic);
  margin-top: auto;
  width: 100%;
  height: 93px;
}

.title {
  width: 300px;
  height: 50px;
  background: var(--bleu-damotic);
  color: white;
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto; /* Cette ligne permet de centrer l'élément horizontalement */
}

.container {
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
