<p>etablissement works!</p>
<div style="width: 100%; height: 100%; position: relative; background: white">
  <div
    style="
      width: 949px;
      height: 97px;
      padding-top: 10.63px;
      padding-bottom: 9.24px;
      padding-right: 1.15px;
      left: 245px;
      top: 357px;
      position: absolute;
      justify-content: center;
      align-items: flex-start;
      gap: 19.58px;
      display: inline-flex;
    "
  >
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div
        style="
          width: 118.62px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 118.62px;
          height: 75.5px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Encadré de présentation
      </div>
    </div>
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div
        style="
          width: 118.62px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #80101e;
        "
      ></div>
      <div
        style="
          width: 118.47px;
          height: 76.55px;
          left: 0.03px;
          top: 0.44px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Infos sur l’établissement
      </div>
    </div>
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div
        style="
          width: 118.42px;
          height: 76.55px;
          left: 0.21px;
          top: 0px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 118.62px;
          height: 76.55px;
          left: 0px;
          top: 0.44px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Comprendre les critères d'analyse des candidatures
      </div>
    </div>
    <div style="width: 118.63px; height: 76.99px; position: relative">
      <div
        style="
          width: 117.98px;
          height: 76.84px;
          left: 0.44px;
          top: 0.15px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 118.63px;
          height: 75.6px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Consulter les modalités de candidature
      </div>
    </div>
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div
        style="
          width: 118.15px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 118px;
          height: 75.04px;
          left: 0.63px;
          top: 0.44px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Accéder aux chiffres clés de la formation
      </div>
    </div>
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div
        style="
          width: 118.39px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 118.23px;
          height: 76.55px;
          left: 0.39px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Connaître les débouchés
      </div>
    </div>
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div
        style="
          width: 118.62px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 118.47px;
          height: 76.55px;
          left: 0.15px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Contacter et échanger avec l'établissement
      </div>
    </div>
  </div>
  <div
    style="
      width: 585.07px;
      height: 923px;
      left: 427px;
      top: 492px;
      position: absolute;
    "
  >
    <img
      style="
        width: 571.21px;
        height: 232.56px;
        left: 5.84px;
        top: 216.67px;
        position: absolute;
      "
      src="https://via.placeholder.com/571x233"
    />
    <img
      style="
        width: 585.07px;
        height: 140.83px;
        left: 0px;
        top: 59.22px;
        position: absolute;
      "
      src="https://via.placeholder.com/585x141"
    />
    <img
      style="
        width: 579.23px;
        height: 150.94px;
        left: 1.46px;
        top: 465.83px;
        position: absolute;
      "
      src="https://via.placeholder.com/579x151"
    />
    <img
      style="
        width: 579.23px;
        height: 289.61px;
        left: 1.46px;
        top: 633.39px;
        position: absolute;
      "
      src="https://via.placeholder.com/579x290"
    />
    <div
      style="
        width: 164.87px;
        height: 42.61px;
        left: 218.12px;
        top: 0px;
        position: absolute;
        background: #dc2242;
      "
    ></div>
    <div
      style="
        width: 164.87px;
        height: 42.61px;
        left: 24.07px;
        top: 0px;
        position: absolute;
        background: #b9b9b9;
      "
    ></div>
    <div
      style="
        width: 164.87px;
        height: 42.61px;
        left: 412.17px;
        top: 0px;
        position: absolute;
        background: #dc2242;
      "
    ></div>
    <div
      style="
        width: 124.75px;
        height: 27.44px;
        left: 237.82px;
        top: 7.94px;
        position: absolute;
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Inter;
        font-weight: 600;
        word-wrap: break-word;
      "
    >
      Sciences
    </div>
    <div
      style="
        width: 139.34px;
        height: 29.61px;
        left: 428.95px;
        top: 6.5px;
        position: absolute;
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Inter;
        font-weight: 600;
        word-wrap: break-word;
      "
    >
      Informatique
    </div>
    <div
      style="
        width: 129.85px;
        height: 28.17px;
        left: 41.58px;
        top: 7.22px;
        position: absolute;
        text-align: center;
        color: #1e1e1e;
        font-size: 20px;
        font-family: Inter;
        font-weight: 600;
        word-wrap: break-word;
      "
    >
      A l’université
    </div>
    <div
      style="
        width: 32.83px;
        height: 36.11px;
        left: 188.94px;
        top: 6.5px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 20px;
        font-family: Inter;
        font-weight: 600;
        word-wrap: break-word;
      "
    >
      >
    </div>
    <div
      style="
        width: 31.37px;
        height: 37.56px;
        left: 382.99px;
        top: 2.89px;
        position: absolute;
        text-align: center;
        color: black;
        font-size: 20px;
        font-family: Inter;
        font-weight: 600;
        word-wrap: break-word;
      "
    >
      >
    </div>
  </div>
  <img
    style="
      width: 585px;
      height: 174px;
      left: 427px;
      top: 170px;
      position: absolute;
    "
    src="https://via.placeholder.com/585x174"
  />
  <div
    style="
      width: 300px;
      height: 50px;
      left: 570px;
      top: 100px;
      position: absolute;
    "
  >
    <div
      style="
        width: 300px;
        height: 50px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #132f49;
      "
    ></div>
    <div
      style="
        width: 300px;
        height: 50px;
        left: 0px;
        top: 0px;
        position: absolute;
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Inter;
        font-weight: 700;
        word-wrap: break-word;
      "
    >
      Formation
    </div>
  </div>
</div>
