<p>choix-terminale-generale works!</p>
<div style="width: 100%; height: 100%; position: relative; background: white">
  <div
    style="
      width: 134px;
      height: 49px;
      left: 1214px;
      top: 123px;
      position: absolute;
    "
  >
    <div
      style="
        width: 134px;
        height: 49px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: var(--rouge-damotic);
      "
    ></div>
    <div
      style="
        left: 33px;
        top: 14px;
        position: absolute;
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Inter;
        font-weight: 600;
        word-wrap: break-word;
      "
    >
      Retour
    </div>
  </div>
  <div
    style="
      width: 1268px;
      height: 710px;
      left: 80px;
      top: 266px;
      position: absolute;
    "
  >
    <div
      style="
        width: 1268px;
        height: 710px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #132f49;
      "
    ></div>
    <img
      style="
        width: 811px;
        height: 577px;
        left: 197px;
        top: 57px;
        position: absolute;
      "
      src="https://via.placeholder.com/811x577"
    />
  </div>
  <div
    style="
      width: 396.62px;
      height: 76.98px;
      left: 522px;
      top: 170px;
      position: absolute;
      justify-content: center;
      align-items: flex-start;
      gap: 20.38px;
      display: inline-flex;
    "
  >
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div
        style="
          width: 118.62px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: var(--rouge-damotic);
        "
      ></div>
      <div
        style="
          width: 118.62px;
          height: 75.5px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Choix de parcours - 2nde
      </div>
    </div>
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div
        style="
          width: 118.62px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: var(--rouge-damotic);
        "
      ></div>
      <div
        style="
          width: 118.62px;
          height: 75.5px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Choix de parcours - 1ère Techno
      </div>
    </div>
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div
        style="
          width: 118.62px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #80101e;
        "
      ></div>
      <div
        style="
          width: 118.62px;
          height: 75.5px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Choix de parcours - 1ère Générale
      </div>
    </div>
  </div>
  <div
    style="
      width: 300px;
      height: 50px;
      left: 570px;
      top: 100px;
      position: absolute;
    "
  >
    <div
      style="
        width: 300px;
        height: 50px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #132f49;
      "
    ></div>
    <div
      style="
        width: 300px;
        height: 50px;
        left: 0px;
        top: 0px;
        position: absolute;
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Inter;
        font-weight: 700;
        word-wrap: break-word;
      "
    >
      Choix de parcours
    </div>
  </div>
</div>
