<p>connaitre-debouches works!</p>
<div style="width: 100%; height: 100%; position: relative; background: white">

  <div
    style="
      width: 375px;
      height: 2295px;
      left: 0px;
      top: 442px;
      position: absolute;
    "
  ></div>
  <div
    style="
      width: 1440px;
      height: 2298px;
      left: 0px;
      top: 476px;
      position: absolute;
    "
  >
    <div
      style="
        width: 828px;
        height: 2295px;
        left: 612px;
        top: 0px;
        position: absolute;
        background: #d9d9d9;
      "
    ></div>
    <div
      style="
        width: 611px;
        height: 2298px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #132f49;
      "
    ></div>
    <div
      style="
        width: 471px;
        height: 59.08px;
        left: 70px;
        top: 15px;
        position: absolute;
      "
    >
      <div
        style="
          width: 470.93px;
          height: 59.08px;
          left: 0.07px;
          top: 0px;
          position: absolute;
          background: #d9d9d9;
        "
      ></div>
      <div
        style="
          width: 470.8px;
          height: 59.08px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: black;
          font-size: 20px;
          font-family: Inter;
          font-weight: 700;
          word-wrap: break-word;
        "
      >
        Secteurs d’activité
      </div>
    </div>
    <img
      style="
        width: 282px;
        height: 530px;
        left: 706px;
        top: 74px;
        position: absolute;
      "
      src="https://via.placeholder.com/282x530"
    />
    <div
      style="
        width: 308.82px;
        height: 2157px;
        left: 152px;
        top: 107px;
        position: absolute;
      "
    >
      <div
        style="
          width: 297.79px;
          height: 59px;
          left: 11.03px;
          top: 0px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <img
        style="
          width: 27.03px;
          height: 17.29px;
          left: 269.12px;
          top: 21px;
          position: absolute;
        "
        src="https://via.placeholder.com/27x17"
      />
      <img
        style="
          width: 27.03px;
          height: 17.29px;
          left: 269.12px;
          top: 21px;
          position: absolute;
        "
        src="https://via.placeholder.com/27x17"
      />
      <div
        style="
          width: 297.79px;
          height: 59px;
          left: 11.03px;
          top: 84px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <img
        style="
          width: 27.03px;
          height: 17.29px;
          left: 269.12px;
          top: 105px;
          position: absolute;
        "
        src="https://via.placeholder.com/27x17"
      />
      <div
        style="
          width: 297.79px;
          height: 59px;
          left: 11.03px;
          top: 168px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 297.79px;
          height: 59px;
          left: 11.03px;
          top: 252px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 297.79px;
          height: 59px;
          left: 11.03px;
          top: 336px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 297.79px;
          height: 59px;
          left: 11.03px;
          top: 420px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 297.79px;
          height: 59px;
          left: 11.03px;
          top: 504px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 297.79px;
          height: 59px;
          left: 11.03px;
          top: 588px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 297.79px;
          height: 59px;
          left: 11.03px;
          top: 672px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 297.79px;
          height: 59px;
          left: 11.03px;
          top: 756px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 297.79px;
          height: 59px;
          left: 11.03px;
          top: 840px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <img
        style="
          width: 27.03px;
          height: 17.29px;
          left: 269.12px;
          top: 187px;
          position: absolute;
        "
        src="https://via.placeholder.com/27x17"
      />
      <img
        style="
          width: 27.03px;
          height: 17.29px;
          left: 269.12px;
          top: 275px;
          position: absolute;
        "
        src="https://via.placeholder.com/27x17"
      />
      <img
        style="
          width: 27.03px;
          height: 17.29px;
          left: 269.12px;
          top: 359px;
          position: absolute;
        "
        src="https://via.placeholder.com/27x17"
      />
      <img
        style="
          width: 27.03px;
          height: 17.29px;
          left: 269.12px;
          top: 439px;
          position: absolute;
        "
        src="https://via.placeholder.com/27x17"
      />
      <img
        style="
          width: 27.03px;
          height: 17.29px;
          left: 269.12px;
          top: 522px;
          position: absolute;
        "
        src="https://via.placeholder.com/27x17"
      />
      <img
        style="
          width: 27.03px;
          height: 17.29px;
          left: 269.12px;
          top: 610px;
          position: absolute;
        "
        src="https://via.placeholder.com/27x17"
      />
      <img
        style="
          width: 27.03px;
          height: 17.29px;
          left: 269.12px;
          top: 699px;
          position: absolute;
        "
        src="https://via.placeholder.com/27x17"
      />
      <img
        style="
          width: 27.03px;
          height: 17.29px;
          left: 269.12px;
          top: 777px;
          position: absolute;
        "
        src="https://via.placeholder.com/27x17"
      />
      <img
        style="
          width: 27.03px;
          height: 17.29px;
          left: 269.12px;
          top: 861px;
          position: absolute;
        "
        src="https://via.placeholder.com/27x17"
      />
      <div
        style="
          width: 297.79px;
          height: 59px;
          left: 11.03px;
          top: 924px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <img
        style="
          width: 27.03px;
          height: 17.29px;
          left: 269.12px;
          top: 944px;
          position: absolute;
        "
        src="https://via.placeholder.com/27x17"
      />
      <div
        style="
          width: 297.79px;
          height: 59px;
          left: 11.03px;
          top: 1008px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 297.79px;
          height: 59px;
          left: 11.03px;
          top: 1092px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 297.79px;
          height: 59px;
          left: 11.03px;
          top: 1176px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 297.79px;
          height: 59px;
          left: 11.03px;
          top: 1260px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 297.79px;
          height: 59px;
          left: 11.03px;
          top: 1344px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 297.79px;
          height: 59px;
          left: 11.03px;
          top: 1428px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 297.79px;
          height: 59px;
          left: 11.03px;
          top: 1512px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 297.79px;
          height: 59px;
          left: 11.03px;
          top: 1596px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <img
        style="
          width: 27.03px;
          height: 17.29px;
          left: 269.12px;
          top: 1029px;
          position: absolute;
        "
        src="https://via.placeholder.com/27x17"
      />
      <img
        style="
          width: 27.03px;
          height: 17.29px;
          left: 269.12px;
          top: 1113px;
          position: absolute;
        "
        src="https://via.placeholder.com/27x17"
      />
      <img
        style="
          width: 27.03px;
          height: 17.29px;
          left: 269.12px;
          top: 1197px;
          position: absolute;
        "
        src="https://via.placeholder.com/27x17"
      />
      <img
        style="
          width: 27.03px;
          height: 17.29px;
          left: 269.12px;
          top: 1281px;
          position: absolute;
        "
        src="https://via.placeholder.com/27x17"
      />
      <img
        style="
          width: 27.03px;
          height: 17.29px;
          left: 269.12px;
          top: 1365px;
          position: absolute;
        "
        src="https://via.placeholder.com/27x17"
      />
      <img
        style="
          width: 27.03px;
          height: 17.29px;
          left: 269.12px;
          top: 1453px;
          position: absolute;
        "
        src="https://via.placeholder.com/27x17"
      />
      <img
        style="
          width: 27.03px;
          height: 17.29px;
          left: 269.12px;
          top: 1538px;
          position: absolute;
        "
        src="https://via.placeholder.com/27x17"
      />
      <img
        style="
          width: 27.03px;
          height: 17.29px;
          left: 269.12px;
          top: 1623px;
          position: absolute;
        "
        src="https://via.placeholder.com/27x17"
      />
      <div
        style="
          width: 297.79px;
          height: 59px;
          left: 11.03px;
          top: 1680px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 297.79px;
          height: 59px;
          left: 11.03px;
          top: 1764px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 297.79px;
          height: 59px;
          left: 11.03px;
          top: 1848px;
          position: absolute;
          background: #80101e;
        "
      ></div>
      <div
        style="
          width: 297.79px;
          height: 59px;
          left: 11.03px;
          top: 1932px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 275.74px;
          height: 59px;
          left: 22.06px;
          top: 2015px;
          position: absolute;
          background: white;
        "
      ></div>
      <div
        style="
          width: 275.74px;
          height: 59px;
          left: 22.06px;
          top: 2098px;
          position: absolute;
          background: white;
        "
      ></div>
      <img
        style="
          width: 27.03px;
          height: 17.29px;
          left: 266.91px;
          top: 1701px;
          position: absolute;
        "
        src="https://via.placeholder.com/27x17"
      />
      <img
        style="
          width: 27.03px;
          height: 17.29px;
          left: 266.91px;
          top: 1792px;
          position: absolute;
        "
        src="https://via.placeholder.com/27x17"
      />
      <img
        style="
          width: 27.03px;
          height: 17.29px;
          left: 263.6px;
          top: 1953px;
          position: absolute;
        "
        src="https://via.placeholder.com/27x17"
      />
      <img
        style="
          width: 27.03px;
          height: 17.29px;
          left: 263.6px;
          top: 1953px;
          position: absolute;
        "
        src="https://via.placeholder.com/27x17"
      />
      <div
        style="
          width: 240.44px;
          height: 33px;
          left: 43.01px;
          top: 17px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Activités juridiques et comptables
      </div>
      <div
        style="
          width: 244.85px;
          height: 40px;
          left: 37.5px;
          top: 97px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Agriculture et élevage
      </div>
      <div
        style="
          width: 262.5px;
          height: 42px;
          left: 11.03px;
          top: 179px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Architecture, études et normes
      </div>
      <div
        style="
          width: 237.13px;
          height: 52px;
          left: 46.32px;
          top: 259px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Artisanat d'art, audiovisuel et spectacle
      </div>
      <div
        style="
          width: 234.93px;
          height: 49px;
          left: 39.71px;
          top: 341px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Automobile
      </div>
      <div
        style="
          width: 282.35px;
          height: 46px;
          left: 0px;
          top: 428px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Bâtiment et travaux publics (BTP)
      </div>
      <div
        style="
          width: 247.06px;
          height: 34px;
          left: 36.4px;
          top: 517px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Commerce et distribution
      </div>
      <div
        style="
          width: 234.93px;
          height: 35px;
          left: 39.71px;
          top: 601px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Communication et marketing
      </div>
      <div
        style="
          width: 201.84px;
          height: 29px;
          left: 58.46px;
          top: 688px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Culture et patrimoine
      </div>
      <div
        style="
          width: 242.65px;
          height: 33px;
          left: 38.6px;
          top: 769px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Enseignement et formation
      </div>
      <div
        style="
          width: 237.13px;
          height: 31px;
          left: 46.32px;
          top: 854px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Environnement
      </div>
      <div
        style="
          width: 244.85px;
          height: 47px;
          left: 47.43px;
          top: 928px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Finance, banque et assurance
      </div>
      <div
        style="
          width: 240.44px;
          height: 51px;
          left: 43.01px;
          top: 1012px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Gestion administrative et ressources humaines
      </div>
      <div
        style="
          width: 211.76px;
          height: 36px;
          left: 54.04px;
          top: 1104px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Hôtellerie et restauration
      </div>
      <div
        style="
          width: 199.63px;
          height: 29px;
          left: 57.35px;
          top: 1191px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Immobilier
      </div>
      <div
        style="
          width: 181.99px;
          height: 34px;
          left: 66.18px;
          top: 1273px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Industrie - Alimentaire
      </div>
      <div
        style="
          width: 208.46px;
          height: 22px;
          left: 58.46px;
          top: 1363px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Industrie - Bois
      </div>
      <div
        style="
          width: 200.74px;
          height: 42px;
          left: 57.35px;
          top: 1444px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Industrie - Chimie
      </div>
      <div
        style="
          width: 212.87px;
          height: 35px;
          left: 59.56px;
          top: 1524px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Industrie - Métallurgie
      </div>
      <div
        style="
          width: 196.32px;
          height: 30px;
          left: 61.76px;
          top: 1611px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Industrie - Papier et imprimerie
      </div>
      <div
        style="
          width: 223.9px;
          height: 34px;
          left: 59.56px;
          top: 1690px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Industrie - Textile et mode
      </div>
      <div
        style="
          width: 198.53px;
          height: 32px;
          left: 70.59px;
          top: 1779px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Industrie - Électronique
      </div>
      <div
        style="
          width: 221.69px;
          height: 38px;
          left: 58.46px;
          top: 1860px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Industries
      </div>
      <div
        style="
          width: 232.72px;
          height: 32px;
          left: 41.91px;
          top: 1946px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Informatique et télécommunication
      </div>
      <div
        style="
          width: 222.79px;
          height: 25px;
          left: 40.81px;
          top: 2030px;
          position: absolute;
          text-align: center;
          color: black;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Informatique
      </div>
      <div
        style="
          width: 220.59px;
          height: 34px;
          left: 43.01px;
          top: 2111px;
          position: absolute;
          text-align: center;
          color: black;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Télécommunication
      </div>
    </div>
  </div>
  <div
    style="
      width: 949px;
      height: 97px;
      padding-top: 10.63px;
      padding-bottom: 9.24px;
      padding-right: 1.15px;
      left: 245px;
      top: 357px;
      position: absolute;
      justify-content: center;
      align-items: flex-start;
      gap: 19.58px;
      display: inline-flex;
    "
  >
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div
        style="
          width: 118.62px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 118.62px;
          height: 75.5px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Encadré de présentation
      </div>
    </div>
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div
        style="
          width: 118.62px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 118.47px;
          height: 76.55px;
          left: 0.03px;
          top: 0.44px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Infos sur l’établissement
      </div>
    </div>
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div
        style="
          width: 118.42px;
          height: 76.55px;
          left: 0.21px;
          top: 0px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 118.62px;
          height: 76.55px;
          left: 0px;
          top: 0.44px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Comprendre les critères d'analyse des candidatures
      </div>
    </div>
    <div style="width: 118.63px; height: 76.99px; position: relative">
      <div
        style="
          width: 117.98px;
          height: 76.84px;
          left: 0.44px;
          top: 0.15px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 118.63px;
          height: 75.6px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Consulter les modalités de candidature
      </div>
    </div>
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div
        style="
          width: 118.15px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 118px;
          height: 75.04px;
          left: 0.63px;
          top: 0.44px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Accéder aux chiffres clés de la formation
      </div>
    </div>
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div
        style="
          width: 118.39px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #80101e;
        "
      ></div>
      <div
        style="
          width: 118.23px;
          height: 76.55px;
          left: 0.39px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Connaître les débouchés
      </div>
    </div>
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div
        style="
          width: 118.62px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 118.47px;
          height: 76.55px;
          left: 0.15px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Contacter et échanger avec l'établissement
      </div>
    </div>
  </div>
  <img
    style="
      width: 585px;
      height: 174px;
      left: 427px;
      top: 170px;
      position: absolute;
    "
    src="https://via.placeholder.com/585x174"
  />
  <div
    style="
      width: 300px;
      height: 50px;
      left: 570px;
      top: 100px;
      position: absolute;
    "
  >
    <div
      style="
        width: 300px;
        height: 50px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #132f49;
      "
    ></div>
    <div
      style="
        width: 300px;
        height: 50px;
        left: 0px;
        top: 0px;
        position: absolute;
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Inter;
        font-weight: 700;
        word-wrap: break-word;
      "
    >
      Formation
    </div>
  </div>
</div>
