<div class="title">Statistiques</div>
<div class="container">
  <div class="navbar-choix">
    <a [routerLink]="['/statistiques/ProfilAdmisFilieres']"
      ><div style="width: 118.62px; height: 76.98px">
        <div
          style="
            width: 118.62px;
            height: 76.98px;
            left: 0px;
            top: 0px;

            background: #dc2242;
          "
        >
          <div
            style="
              width: 118.62px;
              height: 75.5px;
              left: 0px;
              top: 0px;
              text-align: center;
              color: white;
              font-size: 14px;
              font-family: Inter;
              font-weight: 600;
              word-wrap: break-word;
            "
          >
            Profil admis selon filière
          </div>
        </div>
      </div></a
    >
    <a [routerLink]="['/statistiques/ProfilAdmisSpes']"
      ><div style="width: 118.62px; height: 76.98px">
        <div
          style="
            width: 118.62px;
            height: 76.98px;
            left: 0px;
            top: 0px;
            background: #dc2242;
          "
        >
          <div
            style="
              width: 118.62px;
              height: 75.5px;
              left: 0px;
              top: 0px;
              text-align: center;
              color: white;
              font-size: 14px;
              font-family: Inter;
              font-weight: 600;
              word-wrap: break-word;
            "
          >
            profil admis selon spécialités
          </div>
        </div>
      </div></a
    >
    <a [routerLink]="['/statistiques/ChancesAdmissionNiveau']">
      <div style="width: 118.62px; height: 76.98px">
        <div
          style="
            width: 118.62px;
            height: 76.98px;
            left: 0px;
            top: 0px;
            background: #80101e;
          "
        >
          <div
            style="
              width: 118.62px;
              height: 75.5px;
              left: 0px;
              top: 0px;
              text-align: center;
              color: white;
              font-size: 14px;
              font-family: Inter;
              font-weight: 600;
              word-wrap: break-word;
            "
          >
            chances d’admissions selon ton niveau
          </div>
        </div>
      </div></a
    >
  </div>
  <div class="app-info-eleve"></div>
<main>
  <div class="sidebar-left">
    <div class="sidebar-title">Filtres</div>
    <div class="filters-section">
      <div id="levelListeCheckbox">
        <ul>
          <li>
            <input type="checkbox" id="level1" class="toggle"/>
            <label for="level1">
              <span class="niveau_1"><b>License</b></span>
            </label>
            <ul class="nested">
              <li class="leaf">
                <input type="checkbox" id="item1"/>
                <label for="item1">
                  <span class="feuille">Licence - Arts-lettres-langues</span>
                </label>
              </li>
            </ul>
          </li>
          <li>
            <input type="checkbox" id="level2" class="toggle"/>
            <label for="level2">
              <span class="niveau_1"><b>BTS</b></span>
            </label>
            <ul class="nested">
              <li class="leaf">
                <input type="checkbox" id="item2"/>
                <label for="item2">
                  <span class="feuille">BTS - Agricole</span>
                </label>
              </li>
            </ul>
          </li>
          <li>
            <input type="checkbox" id="level3" class="toggle"/>
            <label for="level3">
              <span class="niveau_1"><b>BUT</b></span>
            </label>
            <ul class="nested">
              <li class="leaf">
                <input type="checkbox" id="item3"/>
                <label for="item3">
                  <span class="feuille">BUT - Production (Informatique, Génie mécanique, etc.</span>
                </label>
              </li>
            </ul>
          </li>
          <li>
            <input type="checkbox" id="level4" class="toggle"/>
            <label for="level4">
              <span class="niveau_1"><b>Ecoles d'ingénieurs/Formations ingénierie</b></span>
            </label>
            <ul class="nested">
              <li class="leaf">
                <input type="checkbox" id="item4"/>
                <label for="item4">
                  <span class="feuille">Autres Ecoles (diplôme d'ingénieurs bac+5)</span>
                </label>
              </li>
            </ul>
          </li>
          <li>
            <input type="checkbox" id="level5" class="toggle"/>
            <label for="level5">
              <span class="niveau_1"><b>Classes préparatoires: CPGE, CUPGE, CPES</b></span>
            </label>
            <ul class="nested">
              <li class="leaf">
                <input type="checkbox" id="item5"/>
                <label for="item5">
                  <span class="feuille">Classe préparatoire aux études supérieures (CPES)</span>
                </label>
              </li>
            </ul>
          </li>
          <li>
            <input type="checkbox" id="level6" class="toggle"/>
            <label for="level6">
              <span class="niveau_1"><b>Santé et social (PASS, LAS, IFSI, éducateurs, etc.)</b></span>
            </label>
            <ul class="nested">
              <li class="leaf">
                <input type="checkbox" id="item6"/>
                <label for="item6">
                  <span class="feuille">D.E secteur sanitaire (IFSI, Orthophoniste, Psychomotricien, etc.)</span>
                </label>
              </li>
            </ul>
          </li>
          <li>
            <input type="checkbox" id="level7" class="toggle"/>
            <label for="level7">
              <span class="niveau_1"><b>Sport: STAPS, BPJEPS, DEJPS, DEUST</b></span>
            </label>
            <ul class="nested">
              <li class="leaf">
                <input type="checkbox" id="item7"/>
                <label for="item7">
                  <span class="feuille">Brevet Professionnel de la Jeunesse, de l’Education Populaire et du Sport (BPJEPS)</span>
                </label>
              </li>
            </ul>
          </li>
          <li>
            <input type="checkbox" id="level8" class="toggle"/>
            <label for="level8">
              <span class="niveau_1"><b>Arts, Architecture, Paysage, Hôtellerie</b></span>
            </label>
            <ul class="nested">
              <li class="leaf">
                <input type="checkbox" id="item8"/>
                <label for="item8">
                  <span class="feuille">DEUST des métiers du théatre</span>
                </label>
              </li>
            </ul>
          </li>
          <li>
            <input type="checkbox" id="level9" class="toggle"/>
            <label for="level9">
              <span class="niveau_1"><b>Écoles de commerce, Sciences Po (IEP) et DCG</b></span>
            </label>
            <ul class="nested">
              <li class="leaf">
                <input type="checkbox" id="item9"/>
                <label for="item9">
                  <span class="feuille">Bachelors en Ecoles de commerce et en EGC (Bac+3)</span>
                </label>
              </li>
            </ul>
          </li>
          <li>
            <input type="checkbox" id="level10" class="toggle"/>
            <label for="level10">
              <span class="niveau_1"><b>Mention complémentaire et Licences Pro</b></span>
            </label>
            <ul class="nested">
              <li class="leaf">
                <input type="checkbox" id="item10"/>
                <label for="item10">
                  <span class="feuille">Licence professionnelle</span>
                </label>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="results-section">
    <div class="results-title">RESULTATS</div>
    <section class="toto">
      <iframe src="./dest/liste_res_chance_admission_selon_niveau.html" style="width:100%; height:500px;" frameborder="0"></iframe>
    </section>

    <div class="result-item">

      <table id="table" class="liste_res_table">
        <thead>

        <tr class="liste_res_head_tr">
          <th class="liste_res_head_tr1"></th>
          <th class="liste_res_head_tr2">Type de formation</th>
          <th class="liste_res_head_tr3">Moyenne admis<br>&#9650;&#9660;</th>
          <th class="liste_res_head_tr4"><b>Mon taux d'accès</b><br>&#9650;&#9660;</th>
          <th class="liste_res_head_tr5">Chance admission<br>&#9650;&#9660;</th>
        </tr>

        </thead>
        <tbody>

        <tr class="liste_res_tr">
          <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favors  -->
          <td class="liste_res_td2">Génie électrique et informatique industrielle</td>
          <td class="liste_res_td3">14/20</td>
          <td class="liste_res_td4">85%</td>
          <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar dark-green"></div></div></td>   <!-- progress bar -->
        </tr>

        <tr class="liste_res_tr">
          <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favors  -->
          <td class="liste_res_td2">Chimie</td>
          <td class="liste_res_td3">15/20</td>
          <td class="liste_res_td4">84%</td>
          <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar dark-green"></div></div></td>   <!-- progress bar -->
        </tr>

        <tr class="liste_res_tr">
          <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favors  -->
          <td class="liste_res_td2">Génie biologique Parcours agronomie</td>
          <td class="liste_res_td3">15,5/20</td>
          <td class="liste_res_td4">82%</td>
          <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar dark-green"></div></div></td>   <!-- progress bar -->
        </tr>

        <tr class="liste_res_tr">
          <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favors  -->
          <td class="liste_res_td2">Génie chimique génie des procédés</td>
          <td class="liste_res_td3">15,5/20</td>
          <td class="liste_res_td4">82%</td>
          <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar dark-green"></div></div></td>   <!-- progress bar -->
        </tr>

        <tr class="liste_res_tr">
          <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favors  -->
          <td class="liste_res_td2">Génie civil - Construction durable</td>
          <td class="liste_res_td3">16/20</td>
          <td class="liste_res_td4">72%</td>
          <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar light-green"></div></div></td>   <!-- progress bar -->
        </tr>

        <tr class="liste_res_tr">
          <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favors  -->
          <td class="liste_res_td2">Génie industriel et maintenance</td>
          <td class="liste_res_td3">16/20</td>
          <td class="liste_res_td4">67%</td>
          <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar light-green"></div></div></td>   <!-- progress bar -->
        </tr>

        <tr class="liste_res_tr">
          <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favors  -->
          <td class="liste_res_td2">Génie mécanique et productique</td>
          <td class="liste_res_td3">16,4/20</td>
          <td class="liste_res_td4">63%</td>
          <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar light-green"></div></div></td>   <!-- progress bar -->
        </tr>

        <tr class="liste_res_tr">
          <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favors  -->
          <td class="liste_res_td2">Hygiène Sécurité Environnement</td>
          <td class="liste_res_td3">16,6/20</td>
          <td class="liste_res_td4">61%</td>
          <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar light-green"></div></div></td>   <!-- progress bar -->
        </tr>

        <tr class="liste_res_tr">
          <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favors  -->
          <td class="liste_res_td2">Informatique</td>
          <td class="liste_res_td3">16,8/20</td>
          <td class="liste_res_td4">58%</td>
          <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar yellow"></div></div></td>   <!-- progress bar -->
        </tr>

        <tr class="liste_res_tr">
          <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favors  -->
          <td class="liste_res_td2">Mesures physiques</td>
          <td class="liste_res_td3">17/20</td>
          <td class="liste_res_td4">53%</td>
          <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar yellow"></div></div></td>   <!-- progress bar -->
        </tr>

        <tr class="liste_res_tr">
          <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favors  -->
          <td class="liste_res_td2">Métiers de la Transition et de l'Efficacité Énergétiques</td>
          <td class="liste_res_td3">17,2/20</td>
          <td class="liste_res_td4">49%</td>
          <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar yellow"></div></div></td>   <!-- progress bar -->
        </tr>

        <tr class="liste_res_tr">
          <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favors  -->
          <td class="liste_res_td2">Métiers du multimédia et de l'internet</td>
          <td class="liste_res_td3">17,3/20</td>
          <td class="liste_res_td4">44%</td>
          <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar yellow"></div></div></td>   <!-- progress bar -->
        </tr>

        <tr class="liste_res_tr">
          <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favors  -->
          <td class="liste_res_td2">Packaging, emballage et conditionnement</td>
          <td class="liste_res_td3">17,6/20</td>
          <td class="liste_res_td4">41%</td>
          <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar yellow"></div></div></td>   <!-- progress bar -->
        </tr>

        <tr class="liste_res_tr">
          <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favors  -->
          <td class="liste_res_td2">Qualité, logistique industrielle et organisation</td>
          <td class="liste_res_td3">18/20</td>
          <td class="liste_res_td4">38%</td>
          <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar orange"></div></div></td>   <!-- progress bar -->
        </tr>

        <tr class="liste_res_tr">
          <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favors  -->
          <td class="liste_res_td2">Réseaux et télécommunications</td>
          <td class="liste_res_td3">18,2/20</td>
          <td class="liste_res_td4">33%</td>
          <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar orange"></div></div></td>   <!-- progress bar -->
        </tr>

        <tr class="liste_res_tr">
          <td class="liste_res_td1"><div class="favoris">☆</div></td>   <!-- favors  -->
          <td class="liste_res_td2">Science et génie des matériaux</td>
          <td class="liste_res_td3">16/20</td>
          <td class="liste_res_td4">29%</td>
          <td class="liste_res_td5"><div class="progress-container"><div class="progress-bar orange"></div></div></td>   <!-- progress bar -->
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</main>
</div>
