<p>chances-admission-niveau works!</p>
<div style="width: 100%; height: 100%; position: relative; background: white">
  <div
    style="
      width: 412px;
      height: 758px;
      left: 23px;
      top: 513px;
      position: absolute;
    "
  >
    <div
      style="
        width: 412px;
        height: 758px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #132f49;
      "
    ></div>
    <div
      style="
        width: 74px;
        height: 30.96px;
        left: 156px;
        top: 21.35px;
        position: absolute;
        text-align: center;
        color: white;
        font-size: 24px;
        font-family: Inter;
        font-weight: 700;
        word-wrap: break-word;
      "
    >
      Filtres
    </div>
    <div
      style="
        width: 343px;
        height: 636px;
        left: 34px;
        top: 72px;
        position: absolute;
      "
    >
      <div
        style="
          width: 333.01px;
          height: 636px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #132f49;
        "
      ></div>
      <div
        style="
          width: 331.9px;
          height: 611.88px;
          left: 11.1px;
          top: 10.97px;
          position: absolute;
        "
      >
        <div
          style="
            width: 331.9px;
            height: 71.28px;
            left: 0px;
            top: 0px;
            position: absolute;
          "
        >
          <div
            style="
              width: 301.93px;
              height: 53.73px;
              left: 6.66px;
              top: 8.77px;
              position: absolute;
              background: white;
            "
          ></div>
          <div
            style="
              width: 331.9px;
              height: 71.28px;
              left: 0px;
              top: 0px;
              position: absolute;
              text-align: center;
              color: #dc2242;
              font-size: 20px;
              font-family: Inter;
              font-weight: 600;
              word-wrap: break-word;
            "
          >
            Effacer les filtres
          </div>
        </div>
        <div
          style="
            width: 310.81px;
            height: 526.34px;
            left: 0px;
            top: 85.53px;
            position: absolute;
          "
        >
          <div
            style="
              width: 310.81px;
              height: 526.34px;
              left: 0px;
              top: 0px;
              position: absolute;
              background: white;
            "
          ></div>
          <div
            style="
              width: 239.77px;
              height: 26.32px;
              left: 35.52px;
              top: 482.48px;
              position: absolute;
              background: #dc2242;
            "
          ></div>
          <div
            style="
              width: 239.77px;
              height: 26.32px;
              left: 37.74px;
              top: 424.37px;
              position: absolute;
              background: #dc2242;
            "
          ></div>
          <div
            style="
              width: 239.77px;
              height: 26.32px;
              left: 35.52px;
              top: 366.25px;
              position: absolute;
              background: #dc2242;
            "
          ></div>
          <div
            style="
              width: 239.77px;
              height: 26.32px;
              left: 35.52px;
              top: 308.13px;
              position: absolute;
              background: #dc2242;
            "
          ></div>
          <div
            style="
              width: 239.77px;
              height: 26.32px;
              left: 37.74px;
              top: 250.01px;
              position: absolute;
              background: #dc2242;
            "
          ></div>
          <div
            style="
              width: 239.77px;
              height: 26.32px;
              left: 37.74px;
              top: 191.9px;
              position: absolute;
              background: #dc2242;
            "
          ></div>
          <div
            style="
              width: 239.77px;
              height: 26.32px;
              left: 37.74px;
              top: 133.78px;
              position: absolute;
              background: #dc2242;
            "
          ></div>
          <div
            style="
              width: 239.77px;
              height: 26.32px;
              left: 37.74px;
              top: 75.66px;
              position: absolute;
              background: #dc2242;
            "
          ></div>
          <div
            style="
              width: 239.77px;
              height: 26.32px;
              left: 37.74px;
              top: 17.54px;
              position: absolute;
              background: #dc2242;
            "
          ></div>
        </div>
      </div>
    </div>
  </div>
  <div
    style="
      width: 898px;
      height: 394px;
      left: 490px;
      top: 513px;
      position: absolute;
    "
  >
    <div
      style="
        width: 898px;
        height: 394px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #132f49;
      "
    ></div>
    <div
      style="
        left: 37px;
        top: 23px;
        position: absolute;
        text-align: center;
        color: white;
        font-size: 24px;
        font-family: Inter;
        font-weight: 700;
        word-wrap: break-word;
      "
    >
      RESULTATS
    </div>
    <div
      style="
        width: 779px;
        height: 114px;
        left: 38px;
        top: 91px;
        position: absolute;
      "
    >
      <img
        style="
          width: 779px;
          height: 44.2px;
          left: 0px;
          top: 69.8px;
          position: absolute;
        "
        src="https://via.placeholder.com/779x44"
      />
      <div
        style="
          width: 779px;
          height: 69.8px;
          left: 0px;
          top: 0px;
          position: absolute;
        "
      >
        <div
          style="
            width: 779px;
            height: 69.8px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #d9d9d9;
          "
        ></div>
        <div
          style="
            width: 161.9px;
            height: 36.58px;
            left: 523.32px;
            top: 16.29px;
            position: absolute;
            text-align: center;
            color: black;
            font-size: 16px;
            font-family: Inter;
            font-weight: 700;
            word-wrap: break-word;
          "
        >
          Mon taux d’accès(%)
        </div>
        <div
          style="
            width: 106.34px;
            height: 41.88px;
            left: 672.66px;
            top: 15.12px;
            position: absolute;
            text-align: center;
            color: black;
            font-size: 16px;
            font-family: Inter;
            font-weight: 700;
            word-wrap: break-word;
          "
        >
          Moyenne des admis
        </div>
        <div
          style="
            width: 186.27px;
            height: 21.22px;
            left: 29.79px;
            top: 24.14px;
            position: absolute;
            text-align: center;
            color: black;
            font-size: 16px;
            font-family: Inter;
            font-weight: 700;
            word-wrap: break-word;
          "
        >
          Type de formation
        </div>
      </div>
    </div>
  </div>
  <div
    style="
      width: 396.62px;
      height: 76.98px;
      left: 522px;
      top: 172px;
      position: absolute;
      justify-content: center;
      align-items: flex-start;
      gap: 20.38px;
      display: inline-flex;
    "
  >
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div
        style="
          width: 118.62px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 118.62px;
          height: 75.5px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Profil admis selon filière
      </div>
    </div>
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div
        style="
          width: 118.62px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 118.62px;
          height: 75.5px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        profil admis selon spécialités
      </div>
    </div>
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div
        style="
          width: 118.62px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #80101e;
        "
      ></div>
      <div
        style="
          width: 118.62px;
          height: 75.5px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        chances d’admissions selon ton niveau
      </div>
    </div>
  </div>
  <div
    style="
      left: 156px;
      top: 684px;
      position: absolute;
      text-align: center;
      color: black;
      font-size: 16px;
      font-family: Inter;
      font-weight: 600;
      word-wrap: break-word;
    "
  >
    filtres filières<br /><br /><br /><br />
  </div>
  <div
    style="
      width: 1015px;
      height: 179px;
      left: 213px;
      top: 286px;
      position: absolute;
    "
  >
    <div
      style="
        width: 1015px;
        height: 179px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #132f49;
      "
    ></div>
    <div
      style="
        width: 502px;
        height: 33.3px;
        left: 27px;
        top: 94px;
        position: absolute;
      "
    >
      <div
        style="
          width: 193.52px;
          height: 33.3px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Spécialité 1
      </div>
      <div
        style="
          width: 295.25px;
          height: 23.37px;
          left: 206.75px;
          top: 5.26px;
          position: absolute;
          background: white;
          border: 1px black solid;
        "
      ></div>
      <div
        style="
          width: 155px;
          height: 12px;
          left: 213px;
          top: 11px;
          position: absolute;
          color: black;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Non renseigné
      </div>
      <img
        style="
          width: 22.33px;
          height: 16.36px;
          left: 473.05px;
          top: 8.76px;
          position: absolute;
        "
        src="https://via.placeholder.com/22x16"
      />
    </div>
    <div
      style="
        width: 502px;
        height: 33.3px;
        left: 27px;
        top: 131px;
        position: absolute;
      "
    >
      <div
        style="
          width: 193.52px;
          height: 33.3px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Spécialité 2
      </div>
      <div
        style="
          width: 295.25px;
          height: 23.37px;
          left: 206.75px;
          top: 5.26px;
          position: absolute;
          background: white;
          border: 1px black solid;
        "
      ></div>
      <div
        style="
          width: 156px;
          height: 12px;
          left: 212px;
          top: 11px;
          position: absolute;
          color: black;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Non renseigné
      </div>
      <img
        style="
          width: 22.33px;
          height: 16.36px;
          left: 473.05px;
          top: 8.76px;
          position: absolute;
        "
        src="https://via.placeholder.com/22x16"
      />
    </div>
    <div
      style="
        width: 523px;
        height: 35.2px;
        left: 6px;
        top: 57px;
        position: absolute;
      "
    >
      <div
        style="
          width: 212.41px;
          height: 35.2px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Quel est ton bac ?
      </div>
      <div
        style="
          width: 296px;
          height: 24px;
          left: 227px;
          top: 6px;
          position: absolute;
          background: white;
          border: 1px black solid;
        "
      ></div>
      <div
        style="
          width: 287px;
          height: 22px;
          left: 231px;
          top: 7px;
          position: absolute;
          color: black;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Seconde Générale et technologique
      </div>
      <img
        style="
          width: 24.51px;
          height: 17.29px;
          left: 493px;
          top: 9px;
          position: absolute;
        "
        src="https://via.placeholder.com/25x17"
      />
    </div>
    <div
      style="
        width: 367px;
        height: 35.2px;
        left: 632px;
        top: 26px;
        position: absolute;
      "
    >
      <div
        style="
          width: 212.41px;
          height: 35.2px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Quelle est ton académie ?
      </div>
      <div
        style="
          width: 157px;
          height: 24px;
          left: 210px;
          top: 6px;
          position: absolute;
          background: white;
          border: 1px black solid;
        "
      ></div>
      <div
        style="
          width: 136px;
          height: 22px;
          left: 216px;
          top: 7px;
          position: absolute;
          color: black;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Nancy-Metz
      </div>
      <img
        style="
          width: 24.51px;
          height: 17.29px;
          left: 336px;
          top: 9px;
          position: absolute;
        "
        src="https://via.placeholder.com/25x17"
      />
    </div>
    <div
      style="
        width: 310px;
        height: 35.2px;
        left: 617px;
        top: 74px;
        position: absolute;
      "
    >
      <div
        style="
          width: 212.41px;
          height: 35.2px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Es-tu boursier du secondaire ?
      </div>
      <div
        style="
          width: 85px;
          height: 24px;
          left: 225px;
          top: 6px;
          position: absolute;
          background: white;
          border: 1px black solid;
        "
      ></div>
      <div
        style="
          width: 49px;
          height: 22px;
          left: 227px;
          top: 7px;
          position: absolute;
          text-align: center;
          color: black;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Oui
      </div>
      <img
        style="
          width: 24.51px;
          height: 17.29px;
          left: 279px;
          top: 10px;
          position: absolute;
        "
        src="https://via.placeholder.com/25x17"
      />
    </div>
    <div
      style="
        width: 507px;
        height: 35.2px;
        left: 6px;
        top: 15px;
        position: absolute;
      "
    >
      <div
        style="
          width: 212.41px;
          height: 35.2px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Quelle moyenne penses-tu obtenir au bac ?
      </div>
      <div
        style="
          width: 85px;
          height: 24px;
          left: 227px;
          top: 6px;
          position: absolute;
          background: white;
          border: 1px black solid;
        "
      ></div>
      <div
        style="
          width: 274px;
          height: 24px;
          left: 233px;
          top: 6px;
          position: absolute;
          color: black;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        14/20
      </div>
      <img
        style="
          width: 24.51px;
          height: 17.29px;
          left: 281px;
          top: 9px;
          position: absolute;
        "
        src="https://via.placeholder.com/25x17"
      />
    </div>
  </div>
  <div
    style="
      width: 300px;
      height: 50px;
      left: 570px;
      top: 100px;
      position: absolute;
    "
  >
    <div
      style="
        width: 300px;
        height: 50px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #132f49;
      "
    ></div>
    <div
      style="
        width: 300px;
        height: 50px;
        left: 0px;
        top: 0px;
        position: absolute;
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Inter;
        font-weight: 700;
        word-wrap: break-word;
      "
    >
      Statistiques
    </div>
  </div>
</div>
