.sidebar {
  width: 412px;
  background: var(--bleu-damotic);
  padding: 20px;
  color: white;
  font-family: Inter, sans-serif;
}

.sidebar-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.filters-section {
  background: var(--bleu-damotic);
  padding: 20px;
}

.main-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-section {
  background: var(--bleu-damotic);
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.input-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.label {
  flex: 1;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}

.input {
  flex: 2;
  background: white;
  padding: 5px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.results-section {
  background: var(--bleu-damotic);
  padding: 20px;
  color: white;
}

.results-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.result-item {
  background: #d9d9d9;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result-bar {
  width: 100%;
}

.result-type,
.result-access,
.result-average {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
