.header-title {
  color: white;
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: 700;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
}

.main-section {
  width: 803px;
  height: 601px;
  position: relative;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: relative;
  width: 760px;
  height: 533px;
}

.image-circle {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 92px;
  left: 50%;
  transform: translateX(-50%);
  background: #d9d9d9;
  border-radius: 50%;
}

.sidebar {
  width: 300px;
  background: var(--bleu-damotic);
  padding: 20px;
}

.sidebar.right {
  height: 580px;
}

.sidebar-content {
  color: white;
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 92px;
}

.sidebar.left {
  height: 585.63px;
}

.filters-header {
  color: var(--rouge-damotic);
  font-size: 20px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.filters-list {
  background: white;
  padding: 10px;
  border-radius: 5px;
}

.filter-bar {
  background: var(--rouge-damotic);
  height: 24.23px;
  margin-bottom: 10px;
}

.navbar-choix {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
