<div class="title">Statistiques</div>
<div class="container">
  <div class="navbar-choix">
    <a [routerLink]="['/statistiques/ProfilAdmisFilieres']"
      ><div style="width: 118.62px; height: 76.98px">
        <div
          style="
            width: 118.62px;
            height: 76.98px;
            left: 0px;
            top: 0px;
            background: #80101e;
          "
        >
          <div
            style="
              width: 118.62px;
              height: 75.5px;
              left: 0px;
              top: 0px;
              text-align: center;
              color: white;
              font-size: 14px;
              font-family: Inter;
              font-weight: 600;
              word-wrap: break-word;
            "
          >
            Profil admis selon filière
          </div>
        </div>
      </div></a
    >
    <a [routerLink]="['/statistiques/ProfilAdmisSpes']"
      ><div style="width: 118.62px; height: 76.98px">
        <div
          style="
            width: 118.62px;
            height: 76.98px;
            left: 0px;
            top: 0px;
            background: #dc2242;
          "
        >
          <div
            style="
              width: 118.62px;
              height: 75.5px;
              left: 0px;
              top: 0px;
              text-align: center;
              color: white;
              font-size: 14px;
              font-family: Inter;
              font-weight: 600;
              word-wrap: break-word;
            "
          >
            profil admis selon spécialités
          </div>
        </div>
      </div></a
    >
    <a [routerLink]="['/statistiques/ChancesAdmissionNiveau']">
      <div style="width: 118.62px; height: 76.98px">
        <div
          style="
            width: 118.62px;
            height: 76.98px;
            left: 0px;
            top: 0px;
            background: #dc2242;
          "
        >
          <div
            style="
              width: 118.62px;
              height: 75.5px;
              left: 0px;
              top: 0px;
              text-align: center;
              color: white;
              font-size: 14px;
              font-family: Inter;
              font-weight: 600;
              word-wrap: break-word;
            "
          >
            chances d’admissions selon ton niveau
          </div>
        </div>
      </div></a
    >
  </div>
      <div class="image-container">
        <div class="image-circle"></div>
    </div>

  <div class="sidebar-right">
      <div class="sidebar-content">Informations supplémentaires</div>
    </div>

  <div class="sidebar-left">
    <div id="levelListeCheckbox">
      <ul>
        <li>
          <input type="checkbox" id="level1" class="toggle"/>
          <label for="level1">
            <span class="niveau_1"><b>BUT</b></span>
          </label>
          <ul class="nested">
            <li>
              <input type="checkbox" id="level1.1" class="toggle"/>
              <label for="level1.1">
                <span class="niveau_2">BUT - Production (Informatique, Génie mécanique, etc.</span>
              </label>
              <ul class="nested">
                <li class="leaf">
                  <input type="checkbox" id="item1"/>
                  <label for="item1">
                    <span class="feuille">Chimie</span>
                  </label>
                </li>
                <li class="leaf">
                  <input type="checkbox" id="item2"/>
                  <label for="item2">
                    <span class="feuille">Génie biologique Parcours agronomie</span>
                  </label>
                </li>
                <li class="leaf">
                  <input type="checkbox" id="item3"/>
                  <label for="item3">
                    <span class="feuille">Génie biologique parcours biologie médicale et biotechnologie </span>
                  </label>
                </li>
                <li class="leaf">
                  <input type="checkbox" id="item4"/>
                  <label for="item4">
                    <span class="feuille">Génie biologique Parcours diététique et nutrition</span>
                  </label>
                </li>
                <li class="leaf">
                  <input type="checkbox" id="item5"/>
                  <label for="item5">
                    <span class="feuille">Génie biologique parcours sciences de l'aliment et biotechnologie </span>
                  </label>
                </li>
                <li class="leaf">
                  <input type="checkbox" id="item6"/>
                  <label for="item6">
                    <span class="feuille">Génie biologique parcours sciences de l'environnement et écotechnologies </span>
                  </label>
                </li>
                <li class="leaf">
                  <input type="checkbox" id="item7"/>
                  <label for="item7">
                    <span class="feuille">Génie chimique génie des procédés</span>
                  </label>
                </li>
                <li class="leaf">
                  <input type="checkbox" id="item8"/>
                  <label for="item8">
                    <span class="feuille">Génie civil - Construction durable</span>
                  </label>
                </li>
                <li class="leaf">
                  <input type="checkbox" id="item9"/>
                  <label for="item9">
                    <span class="feuille">Génie électrique et informatique industrielle</span>
                  </label>
                </li>
                <li class="leaf">
                  <input type="checkbox" id="item10"/>
                  <label for="item10">
                    <span class="feuille">Génie industriel et maintenance</span>
                  </label>
                </li>
                <li class="leaf">
                  <input type="checkbox" id="item11"/>
                  <label for="item11">
                    <span class="feuille">Génie mécanique et productique</span>
                  </label>
                </li>
                <li class="leaf">
                  <input type="checkbox" id="item12"/>
                  <label for="item12">
                    <span class="feuille">Hygiène Sécurité Environnement</span>
                  </label>
                </li>
                <li class="leaf">
                  <input type="checkbox" id="item13"/>
                  <label for="item13">
                    <span class="feuille">Informatique</span>
                  </label>
                </li>
                <li class="leaf">
                  <input type="checkbox" id="item14"/>
                  <label for="item14">
                    <span class="feuille">Mesures physiques</span>
                  </label>
                </li>
                <li class="leaf">
                  <input type="checkbox" id="item15"/>
                  <label for="item15">
                    <span class="feuille">Métiers de la Transition et de l'Efficacité Énergétiques</span>
                  </label>
                </li>
                <li class="leaf">
                  <input type="checkbox" id="item16"/>
                  <label for="item16">
                    <span class="feuille">Métiers du multimédia et de l'internet</span>
                  </label>
                </li>
                <li class="leaf">
                  <input type="checkbox" id="item17"/>
                  <label for="item17">
                    <span class="feuille">Packaging, emballage et conditionnement</span>
                  </label>
                </li>
                <li class="leaf">
                  <input type="checkbox" id="item18"/>
                  <label for="item18">
                    <span class="feuille">Qualité, logistique industrielle et organisation</span>
                  </label>
                </li>
                <li class="leaf">
                  <input type="checkbox" id="item19"/>
                  <label for="item19">
                    <span class="feuille">Réseaux et télécommunications</span>
                  </label>
                </li>
                <li class="leaf">
                  <input type="checkbox" id="item20"/>
                  <label for="item20">
                    <span class="feuille">Science et génie des matériaux</span>
                  </label>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
