<p>profil-admis-filieres works!</p>
<a [routerLink]="['/statistiques/ProfilAdmisFilieres']" ><div style="width: 118.62px; height: 76.98px; ">
  <div
    style="
          width: 118.62px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          background: #80101e;
        "
  ><div
    style="
          width: 118.62px;
          height: 75.5px;
          left: 0px;
          top: 0px;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
  >
    Profil admis selon filière
  </div></div>

</div></a>
<a [routerLink]="['/statistiques/ProfilAdmisSpes']"><div style="width: 118.62px; height: 76.98px; ">
  <div
    style="
          width: 118.62px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          background: #dc2242;
        "
  ><div
    style="
          width: 118.62px;
          height: 75.5px;
          left: 0px;
          top: 0px;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
  >
    profil admis selon spécialités
  </div></div>

</div></a>
<a [routerLink]="['/statistiques/ChancesAdmissionNiveau']"> <div style="width: 118.62px; height: 76.98px; ">
  <div
    style="
          width: 118.62px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          background: #dc2242;
        "
  ><div
    style="
          width: 118.62px;
          height: 75.5px;
          left: 0px;
          top: 0px;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
  >
    chances d’admissions selon ton niveau
  </div></div>

</div></a>
<div style="width: 100%; height: 100%; position: relative; background: white">
  <div
    style="
      width: 803px;
      height: 601px;
      left: 327px;
      top: 298px;
      position: absolute;
    "
  >
    <div
      style="
        width: 803px;
        height: 588px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      style="
        width: 400px;
        height: 400px;
        left: 198px;
        top: 92px;
        position: absolute;
        background: #d9d9d9;
        border-radius: 9999px;
      "
    ></div>
    <img
      style="
        width: 760px;
        height: 533px;
        left: 22px;
        top: 68px;
        position: absolute;
      "
      src="https://via.placeholder.com/760x533"
    />
  </div>
  <div
    style="
      width: 300px;
      height: 580px;
      left: 1130px;
      top: 298px;
      position: absolute;
    "
  >
    <div
      style="
        width: 300px;
        height: 580px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #132f49;
      "
    ></div>
    <div
      style="
        width: 240px;
        height: 157px;
        left: 52px;
        top: 92px;
        position: absolute;
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Inter;
        font-weight: 600;
        word-wrap: break-word;
      "
    >
      Informations supplémentaires
    </div>
  </div>
  <div
    style="
      width: 312px;
      height: 585.63px;
      left: 12px;
      top: 298px;
      position: absolute;
    "
  >
    <div
      style="
        width: 302.91px;
        height: 585.63px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #132f49;
      "
    ></div>
    <div
      style="
        width: 301.9px;
        height: 563.42px;
        left: 10.1px;
        top: 10.1px;
        position: absolute;
      "
    >
      <div
        style="
          width: 301.9px;
          height: 65.63px;
          left: 0px;
          top: 0px;
          position: absolute;
        "
      >
        <div
          style="
            width: 274.64px;
            height: 49.48px;
            left: 6.06px;
            top: 8.08px;
            position: absolute;
            background: white;
          "
        ></div>
        <div
          style="
            width: 301.9px;
            height: 65.63px;
            left: 0px;
            top: 0px;
            position: absolute;
            text-align: center;
            color: #dc2242;
            font-size: 20px;
            font-family: Inter;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Effacer les filtres
        </div>
      </div>
      <div
        style="
          width: 282.72px;
          height: 484.66px;
          left: 0px;
          top: 78.76px;
          position: absolute;
        "
      >
        <div
          style="
            width: 282.72px;
            height: 484.66px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: white;
          "
        ></div>
        <div
          style="
            width: 218.1px;
            height: 24.23px;
            left: 32.31px;
            top: 444.27px;
            position: absolute;
            background: #dc2242;
          "
        ></div>
        <div
          style="
            width: 218.1px;
            height: 24.23px;
            left: 34.33px;
            top: 390.76px;
            position: absolute;
            background: #dc2242;
          "
        ></div>
        <div
          style="
            width: 218.1px;
            height: 24.23px;
            left: 32.31px;
            top: 337.24px;
            position: absolute;
            background: #dc2242;
          "
        ></div>
        <div
          style="
            width: 218.1px;
            height: 24.23px;
            left: 32.31px;
            top: 283.73px;
            position: absolute;
            background: #dc2242;
          "
        ></div>
        <div
          style="
            width: 218.1px;
            height: 24.23px;
            left: 34.33px;
            top: 230.21px;
            position: absolute;
            background: #dc2242;
          "
        ></div>
        <div
          style="
            width: 218.1px;
            height: 24.23px;
            left: 34.33px;
            top: 176.7px;
            position: absolute;
            background: #dc2242;
          "
        ></div>
        <div
          style="
            width: 218.1px;
            height: 24.23px;
            left: 34.33px;
            top: 123.18px;
            position: absolute;
            background: #dc2242;
          "
        ></div>
        <div
          style="
            width: 218.1px;
            height: 24.23px;
            left: 34.33px;
            top: 69.67px;
            position: absolute;
            background: #dc2242;
          "
        ></div>
        <div
          style="
            width: 218.1px;
            height: 24.23px;
            left: 34.33px;
            top: 16.16px;
            position: absolute;
            background: #dc2242;
          "
        ></div>
      </div>
    </div>
  </div>
  <div
    style="
      width: 396.62px;
      height: 76.98px;
      left: 522px;
      top: 172px;
      position: absolute;
      justify-content: center;
      align-items: flex-start;
      gap: 20.38px;
      display: inline-flex;
    "
  >
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div
        style="
          width: 118.62px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #80101e;
        "
      ></div>
      <div
        style="
          width: 118.62px;
          height: 75.5px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Profil admis selon filière
      </div>
    </div>
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div
        style="
          width: 118.62px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 118.62px;
          height: 75.5px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        profil admis selon spécialités
      </div>
    </div>
    <div style="width: 118.62px; height: 76.98px; position: relative">
      <div
        style="
          width: 118.62px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 118.62px;
          height: 75.5px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        chances d’admissions selon ton niveau
      </div>
    </div>
  </div>
  <div
    style="
      left: 103px;
      top: 427px;
      position: absolute;
      text-align: center;
      color: black;
      font-size: 16px;
      font-family: Inter;
      font-weight: 600;
      word-wrap: break-word;
    "
  >
    filtres filières
  </div>
  <div
    style="
      width: 300px;
      height: 50px;
      left: 570px;
      top: 100px;
      position: absolute;
    "
  >
    <div
      style="
        width: 300px;
        height: 50px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #132f49;
      "
    ></div>
    <div
      style="
        width: 300px;
        height: 50px;
        left: 0px;
        top: 0px;
        position: absolute;
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Inter;
        font-weight: 700;
        word-wrap: break-word;
      "
    >
      Statistiques
    </div>
  </div>
</div>
