<div class="title">Statistiques</div>

<div class="navbar-choix">
  <a [routerLink]="['/statistiques/ProfilAdmisFilieres']"
    ><div style="width: 118.62px; height: 76.98px">
      <div
        style="
          width: 118.62px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          background: #80101e;
        "
      >
        <div
          style="
            width: 118.62px;
            height: 75.5px;
            left: 0px;
            top: 0px;
            text-align: center;
            color: white;
            font-size: 14px;
            font-family: Inter;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Profil admis selon filière
        </div>
      </div>
    </div></a
  >
  <a [routerLink]="['/statistiques/ProfilAdmisSpes']"
    ><div style="width: 118.62px; height: 76.98px">
      <div
        style="
          width: 118.62px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          background: #dc2242;
        "
      >
        <div
          style="
            width: 118.62px;
            height: 75.5px;
            left: 0px;
            top: 0px;
            text-align: center;
            color: white;
            font-size: 14px;
            font-family: Inter;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          profil admis selon spécialités
        </div>
      </div>
    </div></a
  >
  <a [routerLink]="['/statistiques/ChancesAdmissionNiveau']">
    <div style="width: 118.62px; height: 76.98px">
      <div
        style="
          width: 118.62px;
          height: 76.98px;
          left: 0px;
          top: 0px;
          background: #dc2242;
        "
      >
        <div
          style="
            width: 118.62px;
            height: 75.5px;
            left: 0px;
            top: 0px;
            text-align: center;
            color: white;
            font-size: 14px;
            font-family: Inter;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          chances d’admissions selon ton niveau
        </div>
      </div>
    </div></a
  >
</div>

<div class="container">
  <div class="content">
    <div class="main-section">
      <div class="image-container">
        <div class="image-circle"></div>
        <img
          src="https://via.placeholder.com/760x533"
          alt="Main Image"
          class="main-image"
        />
      </div>
    </div>

    <div class="sidebar right">
      <div class="sidebar-content">Informations supplémentaires</div>
    </div>

    <div class="sidebar left">
      <div class="filters-header">Effacer les filtres</div>
      <div class="filters-list">
        <div class="filter-bar"></div>
        <div class="filter-bar"></div>
        <div class="filter-bar"></div>
        <div class="filter-bar"></div>
        <div class="filter-bar"></div>
        <div class="filter-bar"></div>
        <div class="filter-bar"></div>
        <div class="filter-bar"></div>
        <div class="filter-bar"></div>
      </div>
    </div>
  </div>
</div>
