<p>user-view works!</p>
<div style="width: 100%; height: 100%; position: relative; background: white">
  <div
    style="
      width: 1015px;
      height: 179px;
      left: 212px;
      top: 186px;
      position: absolute;
    "
  >
    <div
      style="
        width: 1015px;
        height: 179px;
        left: 0px;
        top: 0px;
        position: absolute;
      "
    >
      <div
        style="
          width: 1015px;
          height: 179px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #132f49;
        "
      ></div>
      <div
        style="
          width: 502px;
          height: 33.3px;
          left: 27px;
          top: 94px;
          position: absolute;
        "
      >
        <div
          style="
            width: 193.52px;
            height: 33.3px;
            left: 0px;
            top: 0px;
            position: absolute;
            text-align: center;
            color: white;
            font-size: 14px;
            font-family: Inter;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Spécialité 1
        </div>
        <div
          style="
            width: 295.25px;
            height: 23.37px;
            left: 206.75px;
            top: 5.26px;
            position: absolute;
            background: white;
            border: 1px black solid;
          "
        ></div>
        <div
          style="
            width: 155px;
            height: 12px;
            left: 213px;
            top: 11px;
            position: absolute;
            color: black;
            font-size: 14px;
            font-family: Inter;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Non renseigné
        </div>

      </div>
      <div
        style="
          width: 502px;
          height: 33.3px;
          left: 27px;
          top: 131px;
          position: absolute;
        "
      >
        <div
          style="
            width: 193.52px;
            height: 33.3px;
            left: 0px;
            top: 0px;
            position: absolute;
            text-align: center;
            color: white;
            font-size: 14px;
            font-family: Inter;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Spécialité 2
        </div>
        <div
          style="
            width: 295.25px;
            height: 23.37px;
            left: 206.75px;
            top: 5.26px;
            position: absolute;
            background: white;
            border: 1px black solid;
          "
        ></div>
        <div
          style="
            width: 156px;
            height: 12px;
            left: 212px;
            top: 11px;
            position: absolute;
            color: black;
            font-size: 14px;
            font-family: Inter;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Non renseigné
        </div>

      </div>
      <div
        style="
          width: 523px;
          height: 35.2px;
          left: 6px;
          top: 57px;
          position: absolute;
        "
      >
        <div
          style="
            width: 212.41px;
            height: 35.2px;
            left: 0px;
            top: 0px;
            position: absolute;
            text-align: center;
            color: white;
            font-size: 14px;
            font-family: Inter;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Quel est ton bac ?
        </div>
        <div
          style="
            width: 296px;
            height: 24px;
            left: 227px;
            top: 6px;
            position: absolute;
            background: white;
            border: 1px black solid;
          "
        ></div>
        <div
          style="
            width: 287px;
            height: 22px;
            left: 231px;
            top: 7px;
            position: absolute;
            color: black;
            font-size: 14px;
            font-family: Inter;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Seconde Générale et technologique
        </div>

      </div>
      <div
        style="
          width: 367px;
          height: 35.2px;
          left: 632px;
          top: 26px;
          position: absolute;
        "
      >
        <div
          style="
            width: 212.41px;
            height: 35.2px;
            left: 0px;
            top: 0px;
            position: absolute;
            text-align: center;
            color: white;
            font-size: 14px;
            font-family: Inter;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Quelle est ton académie ?
        </div>
        <div
          style="
            width: 157px;
            height: 24px;
            left: 210px;
            top: 6px;
            position: absolute;
            background: white;
            border: 1px black solid;
          "
        ></div>
        <div
          style="
            width: 136px;
            height: 22px;
            left: 216px;
            top: 7px;
            position: absolute;
            color: black;
            font-size: 14px;
            font-family: Inter;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Nancy-Metz
        </div>

      </div>
      <div
        style="
          width: 310px;
          height: 35.2px;
          left: 617px;
          top: 74px;
          position: absolute;
        "
      >
        <div
          style="
            width: 212.41px;
            height: 35.2px;
            left: 0px;
            top: 0px;
            position: absolute;
            text-align: center;
            color: white;
            font-size: 14px;
            font-family: Inter;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Es-tu boursier du secondaire ?
        </div>
        <div
          style="
            width: 85px;
            height: 24px;
            left: 225px;
            top: 6px;
            position: absolute;
            background: white;
            border: 1px black solid;
          "
        ></div>
        <div
          style="
            width: 49px;
            height: 22px;
            left: 227px;
            top: 7px;
            position: absolute;
            text-align: center;
            color: black;
            font-size: 14px;
            font-family: Inter;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Oui
        </div>

      </div>
      <div
        style="
          width: 507px;
          height: 35.2px;
          left: 6px;
          top: 15px;
          position: absolute;
        "
      >
        <div
          style="
            width: 212.41px;
            height: 35.2px;
            left: 0px;
            top: 0px;
            position: absolute;
            text-align: center;
            color: white;
            font-size: 14px;
            font-family: Inter;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Quelle moyenne penses-tu obtenir au bac ?
        </div>
        <div
          style="
            width: 85px;
            height: 24px;
            left: 227px;
            top: 6px;
            position: absolute;
            background: white;
            border: 1px black solid;
          "
        ></div>
        <div
          style="
            width: 274px;
            height: 24px;
            left: 233px;
            top: 6px;
            position: absolute;
            color: black;
            font-size: 14px;
            font-family: Inter;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          14/20
        </div>

      </div>
    </div>
    <div
      style="
        width: 128px;
        height: 46px;
        left: 871px;
        top: 119px;
        position: absolute;
      "
    >
      <div
        style="
          width: 128px;
          height: 46px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #dc2242;
        "
      ></div>
      <div
        style="
          width: 128px;
          height: 46px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 16px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Sauvegarder
      </div>
    </div>
  </div>
  <div
    style="
      width: 1440px;
      height: 778px;
      left: 0px;
      top: 388px;
      position: absolute;
    "
  >
    <div
      style="
        width: 300px;
        height: 50px;
        left: 570px;
        top: 0px;
        position: absolute;
      "
    >
      <div
        style="
          width: 300px;
          height: 50px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #132f49;
        "
      ></div>
      <div
        style="
          width: 300px;
          height: 49.53px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 20px;
          font-family: Inter;
          font-weight: 700;
          word-wrap: break-word;
        "
      >
        Mes Favoris
      </div>
    </div>
    <div
      style="
        width: 650px;
        height: 700px;
        left: 0px;
        top: 78px;
        position: absolute;
      "
    >
      <div
        style="
          width: 650px;
          height: 700px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #132f49;
        "
      ></div>
      <div
        style="
          width: 121.13px;
          height: 26.19px;
          left: 18.55px;
          top: 17.46px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 20px;
          font-family: Inter;
          font-weight: 700;
          word-wrap: break-word;
        "
      >
        Formations
      </div>
      <div
        style="
          width: 575.07px;
          height: 133.13px;
          left: 18.55px;
          top: 69.84px;
          position: absolute;
        "
      >
        <img
          style="
            width: 477.96px;
            height: 133.13px;
            left: 0px;
            top: 0px;
            position: absolute;
          "
          src="https://via.placeholder.com/478x133"
        />
        <div
          style="
            width: 97.12px;
            height: 51.29px;
            left: 477.96px;
            top: 0px;
            position: absolute;
          "
        >
          <div
            style="
              width: 97.12px;
              height: 51.29px;
              left: 0px;
              top: 0px;
              position: absolute;
              background: #dc2242;
            "
          ></div>
          <div
            style="
              width: 97.12px;
              height: 51.29px;
              left: 0px;
              top: 0px;
              position: absolute;
              text-align: center;
              color: white;
              font-size: 14px;
              font-family: Inter;
              font-weight: 600;
              word-wrap: break-word;
            "
          >
            Retirer des favoris
          </div>
        </div>
      </div>
      <div
        style="
          width: 572.89px;
          height: 110.21px;
          left: 18.55px;
          top: 229.16px;
          position: absolute;
        "
      >
        <div
          style="
            width: 97.12px;
            height: 51.29px;
            left: 475.77px;
            top: 0px;
            position: absolute;
          "
        >
          <div
            style="
              width: 97.12px;
              height: 51.29px;
              left: 0px;
              top: 0px;
              position: absolute;
              background: #dc2242;
            "
          ></div>
          <div
            style="
              width: 97.12px;
              height: 51.29px;
              left: 0px;
              top: 0px;
              position: absolute;
              text-align: center;
              color: white;
              font-size: 14px;
              font-family: Inter;
              font-weight: 600;
              word-wrap: break-word;
            "
          >
            Retirer des favoris
          </div>
        </div>
        <img
          style="
            width: 477.96px;
            height: 110.21px;
            left: 0px;
            top: 0px;
            position: absolute;
          "
          src="https://via.placeholder.com/478x110"
        />
      </div>
    </div>
    <div
      style="
        width: 650px;
        height: 700px;
        left: 790px;
        top: 78px;
        position: absolute;
      "
    >
      <div
        style="
          width: 650px;
          height: 700px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #132f49;
        "
      ></div>
      <div
        style="
          left: 23px;
          top: 16px;
          position: absolute;
          text-align: center;
          color: white;
          font-size: 20px;
          font-family: Inter;
          font-weight: 700;
          word-wrap: break-word;
        "
      >
        Etablissements
      </div>
    </div>
  </div>
  <div
    style="
      width: 300px;
      height: 50px;
      left: 570px;
      top: 100px;
      position: absolute;
    "
  >
    <div
      style="
        width: 300px;
        height: 50px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #132f49;
      "
    ></div>
    <div
      style="
        width: 300px;
        height: 50px;
        left: 0px;
        top: 0px;
        position: absolute;
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Inter;
        font-weight: 700;
        word-wrap: break-word;
      "
    >
      Mon profil
    </div>
  </div>
</div>
