body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.header-title {
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.profile-section {
  width: 100%;
  max-width: 1015px;
  background: var(--bleu-damotic);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.profile-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.input {
  background: white;
  padding: 5px 10px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.save-button {
  grid-column: span 2; /* Conserve l'extension sur 2 colonnes */
  background: var(--rouge-damotic);
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px; /* Ajuste la taille du padding pour un bouton plus petit */
  border: none;
  cursor: pointer;
  text-align: center;
  width: auto; /* Laisse le bouton prendre la largeur selon le contenu */
  justify-self: end; /* Aligne le bouton à droite de sa grille */
}

.main-content {
  display: flex;
  width: 100%;
  gap: 20px;
}

.favorites-section,
.establishments-section {
  flex: 1;
  background: var(--bleu-damotic);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-title {
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.favorites-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.favorite-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d9d9d9;
  padding: 10px;
}

.remove-button {
  background: var(--rouge-damotic);
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  border: none;
  cursor: pointer;
}
