<p>centre-dinteret works!</p>  test
<div style="width: 100%; height: 100%; position: relative; background: white">
  <div
    style="
      width: 972px;
      height: 512px;
      left: 234px;
      top: 170px;
      position: absolute;
    "
  >
    <div
      style="
        width: 972px;
        height: 512px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #d9d9d9;
      "
    ></div>
    <img
      style="
        width: 727px;
        height: 459px;
        left: 123px;
        top: 26px;
        position: absolute;
      "
      src="https://via.placeholder.com/727x459"
    />
  </div>
  <div
    style="
      width: 1440px;
      height: 119px;
      left: 0px;
      top: 0px;
      position: absolute;
    "
  >
    <div
      style="
        width: 1440px;
        height: 84px;
        left: 0px;
        top: -4px;
        position: absolute;
        background: #132f49;
      "
    ></div>
    <div
      style="
        width: 82.64px;
        height: 27.11px;
        left: 1265px;
        top: 8px;
        position: absolute;
      "
    >
      <div
        style="
          width: 82.64px;
          height: 27.11px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: white;
        "
      ></div>
      <div
        style="
          width: 45.31px;
          height: 17.44px;
          left: 23.14px;
          top: 4.84px;
          position: absolute;
          text-align: center;
          color: #dc2242;
          font-size: 16px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Login
      </div>
    </div>
    <div
      style="
        width: 82.64px;
        height: 28.4px;
        left: 1265.41px;
        top: 41.6px;
        position: absolute;
      "
    >
      <div
        style="
          width: 82.64px;
          height: 27.11px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: white;
        "
      ></div>
      <div
        style="
          width: 80.02px;
          height: 28.09px;
          left: 2.48px;
          top: 0.3px;
          position: absolute;
          text-align: center;
          color: #dc2242;
          font-size: 16px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Register
      </div>
    </div>
    <div
      style="
        width: 57.02px;
        height: 56.13px;
        left: 1364.98px;
        top: 10.95px;
        position: absolute;
      "
    >
      <div
        style="
          width: 57.02px;
          height: 56.13px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: white;
        "
      ></div>
      <img
        style="
          width: 54.65px;
          height: 53.79px;
          left: 0.79px;
          top: 1.56px;
          position: absolute;
        "
        src="https://via.placeholder.com/55x54"
      />
    </div>
    <div
      style="
        width: 124px;
        height: 52px;
        left: 118px;
        top: 10px;
        position: absolute;
      "
    >
      <div
        style="
          width: 124px;
          height: 52px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: white;
        "
      ></div>
      <div
        style="
          width: 124px;
          height: 51.32px;
          left: 0px;
          top: 0.68px;
          position: absolute;
          text-align: center;
          color: #dc2242;
          font-size: 16px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Trouver sa formation
      </div>
    </div>
    <div
      style="
        width: 124px;
        height: 52px;
        left: 853px;
        top: 11px;
        position: absolute;
      "
    >
      <div
        style="
          width: 124px;
          height: 52px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: white;
        "
      ></div>
      <div
        style="
          width: 124px;
          height: 52px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: #dc2242;
          font-size: 16px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Domaines formations
      </div>
    </div>
    <div
      style="
        width: 124px;
        height: 52px;
        left: 1000px;
        top: 11px;
        position: absolute;
      "
    >
      <div
        style="
          width: 124px;
          height: 52px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: white;
        "
      ></div>
      <div
        style="
          width: 124px;
          height: 52px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: #dc2242;
          font-size: 16px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Trouver son métier
      </div>
    </div>
    <div
      style="
        width: 124px;
        height: 52px;
        left: 706px;
        top: 10px;
        position: absolute;
      "
    >
      <div
        style="
          width: 124px;
          height: 52px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: white;
        "
      ></div>
      <div
        style="
          width: 124px;
          height: 52px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: #dc2242;
          font-size: 16px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Centre d’intérêt
      </div>
    </div>
    <div
      style="
        width: 124px;
        height: 52px;
        left: 265px;
        top: 10px;
        position: absolute;
      "
    >
      <div
        style="
          width: 124px;
          height: 52px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: white;
        "
      ></div>
      <div
        style="
          width: 124px;
          height: 52px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: #dc2242;
          font-size: 16px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Simulateur de parcours
      </div>
    </div>
    <img
      style="
        width: 67px;
        height: 61px;
        left: 12px;
        top: 10px;
        position: absolute;
      "
      src="https://via.placeholder.com/67x61"
    />
    <div
      style="
        width: 124px;
        height: 52px;
        left: 559px;
        top: 10px;
        position: absolute;
      "
    >
      <div
        style="
          width: 124px;
          height: 52px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: white;
        "
      ></div>
      <div
        style="
          width: 124px;
          height: 52px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: #dc2242;
          font-size: 16px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Statistiques
      </div>
    </div>
    <div
      style="
        width: 124px;
        height: 52px;
        left: 412px;
        top: 10px;
        position: absolute;
      "
    >
      <div
        style="
          width: 123.78px;
          height: 51.63px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: white;
        "
      ></div>
      <div
        style="
          width: 124px;
          height: 52px;
          left: 0px;
          top: 0px;
          position: absolute;
          text-align: center;
          color: #dc2242;
          font-size: 16px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Choix de Parcours
      </div>
    </div>
  </div>
  <div
    style="
      width: 300px;
      height: 50px;
      left: 570px;
      top: 100px;
      position: absolute;
    "
  >
    <div
      style="
        width: 300px;
        height: 50px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #132f49;
      "
    ></div>
    <div
      style="
        width: 300px;
        height: 50px;
        left: 0px;
        top: 0px;
        position: absolute;
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: Inter;
        font-weight: 700;
        word-wrap: break-word;
      "
    >
      Test centre d’intérêts
    </div>
  </div>
</div>
